<div class="course-header">
  <h1>{{course?.name}}</h1>
  <p>{{course?.description}}</p>
  <button md-raised-button color="primary" (click)="gotoReport()">View progress report</button>
</div>
<div class="lectures" *ngIf="course">
  <app-lecture [course]="course" [lecture]="lecture" *ngFor="let lecture of course.lectures"></app-lecture>
  <a md-fab class="add-lecture-fab" color="accent" routerLink="{{'/course/edit/'+course._id+'/lecture/new'}}"
     *ngIf="userService.isAdmin() || userService.isTeacher()" mdTooltip="Add lecture" mdTooltipPosition="left">
    <md-icon class="md-24">add</md-icon>
  </a>
</div>
<!--
<h1>{{course?.name}}</h1>

<p>{{course?.description}}</p>

<app-task-attestation [taskId]="taskId"></app-task-attestation>

<app-lecture [course]="course" *ngIf="course">
-->
