<div class="course-header">
  <button mat-icon-button color="primary" (click)= "openDownloadDialog()" class="download-button">
    <mat-icon aria-label="Download Units" mat-tooltip="Download Units">get_app</mat-icon>
  </button>
  <h1>{{course?.name}}</h1>
  <div class="chip">
    <div *ngFor="let teacher of course.teachers">
      <!-- dummie picture because of problems to access picture of teacher-->
     <img class="avatar" src="{{userService.user.getUserImageURL(30)}}" width="96" height="96">
       {{teacher.profile.firstName + " " + teacher.profile.lastName + " " + teacher.email}}
    </div>
  </div>
  <p>{{course?.description}}</p>
</div>
<div class="lectures" *ngIf="course">
  <app-lecture [course]="course" [lecture]="lecture" *ngFor="let lecture of course.lectures">
  </app-lecture>
</div>
