.download-button {
  position: absolute;
  top: 4em;
  right: 6em;
}

.dl-icon {
  font-size:36px !important;
}

.report-button {
  float: right;
  clear: both;
}

.course-header {
  display: block;
}

.iconPos {
  margin-right: 0.2em;
}
