.download-button {
  float: right;
}

.report-button {
  float: right;
  clear: both;
}

.course-header {
  display: block;
}

.mat-chip-list {
  display: inline-block;
  margin-left: 5px
}

.mat-chip {
  position: relative;
}

.img-wrapper {
  left: -7px;
  width: 32px;
  height: 32px;
  position: absolute;
  border-radius: 50%;

}

.teacher-name{
  margin-left: 20px;
}

.teacher-image {
  background-size: cover;
  vertical-align: middle;
}
