.download-button {
  position: absolute;
  top: 4em;
  right: 6em;
}

::ng-deep .dl-icon {
  font-size:48px !important;
}

.report-button {
  float: right;
  clear: both;
}

.course-header {
  display: block;
}
