<div class="course-header">
  <h1>{{course?.name}}</h1>
  <mat-chip-list>
    <mat-chip style="cursor:pointer" (click)="showUserProfile(course?.courseAdmin)">
      <div class="img-wrapper">
        <div class="admin-image" [user-image]="course?.courseAdmin"></div>
      </div>
      <div class="admin-name">
        {{course?.courseAdmin.profile.firstName + " " + course?.courseAdmin.profile.lastName}} <br>
        <i>{{'mainMenu.admin' | translate}}</i>
      </div>
    </mat-chip>
    <div *ngFor="let teacher of course?.teachers">
      <mat-chip style="cursor:pointer" (click)="showUserProfile(teacher)">
        <div class="img-wrapper">
          <div class="teacher-image" [user-image]="teacher"></div>
        </div>
        <div class="teacher-name">
          {{teacher.profile.firstName + " " + teacher.profile.lastName}} <br>
          <i>{{'common.roles.teacher' | translate}}</i>
        </div>
      </mat-chip>
    </div>
  </mat-chip-list>
  <p>{{course?.description}}</p>
  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let tab of tabs"
       [routerLink]="tab.path"
       routerLinkActive
       #rla="routerLinkActive"
       [routerLinkActiveOptions]="{exact: true}"
       [active]="rla.isActive">
      <mat-icon class="iconPos">{{tab.img}}</mat-icon>{{tab.label}}
    </a>
  </nav>
</div>
<router-outlet></router-outlet>

<div [ngClass]="{'chat-toggle': true, 'chat-toggle-show': !showChat, 'chat-toggle-hidden': showChat}">
  <button mat-fab color="primary" (click)="toggleChat()"><mat-icon>forum</mat-icon></button>
</div>


<div *ngIf="showChat" [ngClass]="{'chat-container': true, 'chat-container-show': showChat, 'chat-container-hidden': !showChat}">
  <div class="forum-container">
    <div class="chat-top-bar">
      <div class="chat-heading"><mat-icon>forum</mat-icon>Forum</div>
      <div>
        <button [matMenuTriggerFor]="chatMenu" mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
        <button (click)="toggleChat()"  mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div class="messaging-container">
      <app-messaging [room]="course?._id" [mode]="'chat'"></app-messaging>
    </div>
  </div>
</div>

<mat-menu #chatMenu>
  <button mat-menu-item (click)="updateChatName()">Change chat name</button>
  <button mat-menu-item>Fullscreen mode</button>
</mat-menu>
