<h3>{{taskUnit.name}}</h3>
<p>{{taskUnit.description}}</p>

<div class="tasks">
  <div class="task" *ngFor="let task of taskUnit.tasks">
    <p><strong>Question:</strong> {{task.name}}</p>
    <ul class="answers">
      <li *ngFor="let answer of task.answers"
          [class.correct]="validationMode && isAnswerCorrect(answer)"
          [class.incorrect]="validationMode && !isAnswerCorrect(answer)">

        <md-checkbox [disabled]="validationMode" [(ngModel)]="answer.userAnswer">
          <span class="answer-text">{{answer.text}}</span>
        </md-checkbox>
      </li>
    </ul>
  </div>
</div>

<p>
  <button md-button [disabled]="validationMode" (click)="validate()">Submit answers</button>
  <button md-button (click)="reset()">Reset</button>
  <span *ngIf="progress && progress.done" class="progress-done"><md-icon>check</md-icon>You have completed this task.</span>
</p>
