<!--!!!!

{{tasks}}
rrrrrr
{{tasks.length}}
ääääää
{{task.name}}-->
<div class="question-answer">

  <div *ngFor="let task of tasks" class="question-answer">
<!--
    countOfTaskAttestationsFor(taskId: string):   {{countOfTaskAttestationsFor(task._id)}} <br>

    countOfEnrolledStudentsForCourse(courseId: string): countOfEnrolledStudentsForCourse("12")}} <br>

    countOfTaskAttestationCompletedForCourseAndUser(courseId: string, userId: string):

    countOfTaskAttestationCorrectlyCompletedForCourseAndUser(courseId: string, userId: string):

    getTasksAttestationsForCourseAndUser(courseId: string, userId: string):
-->
  <md-input-container md-line class="question">
    <textarea mdInput readonly id="question" placeholder="Frage" [(ngModel)]="task.question"></textarea>
  </md-input-container>

    <div class="actions">
      <button md-button (click)="saveTaskAsTaskAttestation(task)">SAVE MY ANSWER</button>
    </div>

    <div md-line class="answers">
      <div class="answer" *ngFor="let answer of task.answers; let idx = index;">
        <div class="check-answer">
          <md-checkbox [(ngModel)]="answer.value" name="value_{{idx}}"></md-checkbox>
          <md-input-container>
            <input mdInput readonly placeholder="Antwort" [(ngModel)]="answer.text">
          </md-input-container>
        </div>
      </div>
    </div>

    <!--
        <div *ngFor="let task of tasks" class="question-answer">

          !!!!
         {{task.question}}
      #####
          <div class="answer" *ngFor="let answer of task.answers; let idx = index;">
            <div class="check-answer">
              {{answer.value}}
              {{answer.text}}
            </div>
          </div>
        ????
        </div>
    -->
       <!--


        <div md-line class="answers">
          <div class="answer" *ngFor="let answer of task.answers; let idx = index;">
            <div class="check-answer">
              {{answer.value}}
              {{answer.text}}
            </div>
          </div>

        </div>

            <md-input-container md-line class="question">
              <textarea mdInput id="name" placeholder="Frage hier eingeben." [(ngModel)]="task.name"></textarea>
            </md-input-conta>
        <!--
          <div class="actions">
            <button md-button (click)="updateTaskAttestation(taskAttestation)">SAVE</button>
          </div>

            <div md-line class="answers">
              <div class="answer" *ngFor="let answer of task.answers; let idx = index;">
                <div class="check-answer">
                  <md-checkbox [(ngModel)]="answer.value" name="value_{{idx}}"></md-checkbox>
                  <md-input-container>
                    <input mdInput placeholder="Antwort hier eingeben." [(ngModel)]="answer.text">
                  </md-input-container>
                </div>
              </div>

            </div>
          -->
</div>




</div>
