<mat-card *ngIf="course" class="course-card">
  <mat-card-header>
    <mat-card-title><h2 title="{{course.name}}">{{course.name}}</h2></mat-card-title>
  </mat-card-header>
  <img mat-card-image src="/assets/course-header-image.jpg">
  <mat-card-content>
    <p>
      {{course.description}}
    </p>
  </mat-card-content>
  <mat-card-actions >
    <span class="course-admin-actions" *ngIf="this.userService.isCourseTeacherOrAdmin(course)">
      <button mat-icon-button (click)="editCourse(course._id)">
        <mat-icon>mode_edit</mat-icon>
      </button>

      <button mat-icon-button (click)="showReport(course._id)">
        <mat-icon>show_chart</mat-icon>
      </button>

      <button mat-icon-button *ngIf="!course.active" disabled>
        <mat-icon color="warn">visibility_off</mat-icon>
      </button>
    </span>
    <span class="course-student-actions" *ngIf="this.userService.isStudent()">
      <button mat-icon-button *ngIf="!this.isMemberOfCourse(course)"
              (click)="enroll()" matTooltip="Enroll">
      <mat-icon>add_circle_outline</mat-icon>
    </button>

    <button mat-icon-button *ngIf="this.isMemberOfCourse(course)"
            (click)="leave()" matTooltip="Leave">
      <mat-icon>remove_circle_outline</mat-icon>
    </button>
    </span>

    <button mat-mini-fab *ngIf="this.userService.isCourseTeacherOrAdmin(course) || isMemberOfCourse(course)"
            color="primary" class="details-button" [routerLink]="['course', course._id]">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
