@import '../../variables';

:host {
  flex: 1;
  padding: 8px;

  @include bp(sm) {
    flex: initial;
    width: 300px;
  }
}

.course-card {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;

  .details-button {
    float: right;
  }

  @include bp(sm) {
    h2 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

:host /deep/ .mat-card {
  display: flex;
  flex-direction: column;

  .mat-card-content {
    flex: 1;
  }

  .mat-card-header-text {
    width: 100%;
    margin: 0;
  }
}

.mat-card-title h2 {
  margin-top: 0;
}

.mat-card-title a {
  text-decoration: none;
  color: inherit;
}

a .mat-card-image:first-child{
  margin-top: inherit;
}
