.course-card {
  width: 400px;
  margin-right: 20px;
  margin-bottom: 20px;

  .details-button {
    position: absolute;
    bottom: 8px;
    right: 8px;
  }

  .spacer {
    height: 40px;
    display: block;
  }
}
