<form [formGroup]="lectureForm" (ngSubmit)="formSubmit()">
  <mat-form-field>
    <input matInput formControlName="name" placeholder="{{ common.name | translator }}">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput formControlName="description" placeholder="{{ common.description | translator }}"></textarea>
  </mat-form-field>

  <p>
    <button mat-raised-button [disabled]="!lectureForm.valid" color="primary" type="submit">{{ actionLabel }}</button>
    <button mat-raised-button (click)="onCancel()">{{ common.cancel | translate }}</button>
  </p>
</form>
