<form [formGroup]="lectureForm" (ngSubmit)="formSubmit()">
  <mat-form-field>
    <input matInput formControlName="name" placeholder="Name">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput formControlName="description" placeholder="Description"></textarea>
  </mat-form-field>


  <p>
    <button mat-raised-button [disabled]="!lectureForm.valid" color="primary" type="submit">{{ actionLabel }}</button>
    <button mat-button color="secondary" (click)="onCancel()">Cancel</button>
  </p>
</form>
