<form [formGroup]="lectureForm" (ngSubmit)="formSubmit()">
  <md-input-container>
    <input mdInput formControlName="name" placeholder="Name">
  </md-input-container>

  <md-input-container>
    <textarea mdInput formControlName="description" placeholder="Description"></textarea>
  </md-input-container>


  <p>
    <button md-raised-button [disabled]="!lectureForm.valid" color="primary" type="submit">{{ actionLabel }}</button>
    <button md-button color="secondary" (click)="onCancel()">Cancel</button>
  </p>
</form>
