<form [formGroup]="form">
  <md-input-container>
    <input mdInput required formControlName="name" placeholder="Name">
  </md-input-container>

  <md-input-container>
    <textarea mdInput formControlName="description" placeholder="Description" rows="4"></textarea>
  </md-input-container>

  <mat-input-container>
    <input matInput formControlName="deadline" [matDatepicker]="myDatepicker" placeholder="Optional deadline">
    <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
  </mat-input-container>
</form>
