<form [formGroup]="form">
  <mat-form-field>
    <input matInput required formControlName="name" placeholder="Name">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput formControlName="description" placeholder="Description" rows="4"></textarea>
  </mat-form-field>

  <mat-form-field *ngIf="model?.progressable">
    <input matInput formControlName="deadline" [matDatepicker]="deadlineDatepicker" placeholder="Optional deadline">
    <mat-datepicker-toggle matSuffix [for]="deadlineDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #deadlineDatepicker (selectedChanged)="updateDateTime($event)"></mat-datepicker>
  </mat-form-field>
</form>
