<!-- <div [innerHtml]="renderedContent"></div> -->

<h1>Datenschutzhinweise</h1>

<h2>Allgemeine Vorbemerkungen</h2>
<span>
  <p>Diese Datenschutzerklärung bezieht sich ausschließlich auf diejenigen Dienste, die der Fachbereich Informatik der Hochschule Darmstadt unter der Webadresse geli.fbi.h-da.de betreibt, sowie auf dazu gehörige Systeme im Hintergrund. Der Auftritt hat ein eigenständiges, einheitliches Design.</p>
<p>Die Nutzung unserer Dienste erfordert ein Login.<br>
  Ohne Login sind nur allgemeine und öffentliche Informationen abrufbar.</p>
 <p>Siehe auch die Datenschutzerklärung der Hochschule Darmstadt.</p>
</span>

<h2>Verantwortung und Zuständigkeiten</h2>
<p>Für den Betrieb sowie die Richtigkeit und Aktualität der Informationen wird keine Gewähr übernommen. Die IT-Services des Fachbereichs Informatik der Hochschule Darmstadt ist für den Betrieb des Servers zuständig. Für die Organisation und Inhalte der Seite sind die jeweiligen Redakteure verantwortlich. Der Fachbereich Informatik hat die allgemeine inhaltliche Verantwortung und entscheidet in Zweifelsfällen über die Zulässigkeit der Daten.</p>

<h2>Umgang mit Daten</h2>
<span>
  <p>Der Fachbereich Informatik nimmt den Schutz von personenbezogenen Daten sehr ernst. Wir verarbeiten personenbezogene Daten unter Beachtung der geltenden datenschutzrechtlichen Bestimmungen. Es gelten insbesondere die EU-Datenschutzgrundverordnung (DS-GVO), das Hessische Datenschutz- und Informationsfreiheitsgesetz (HDSIG) und das Telemediengesetz (TMG).</p>
  <p>Im Folgenden unterrichten wir Sie über Art, Umfang und Zwecke der Erhebung und Verwendung personenbezogener Daten.</p>
  <p>Ihre Daten werden von uns weder veröffentlicht (ausgenommen Lehrende hinsichtlich Vorlesungsverzeichnis und Stundenpläne), noch unberechtigt an Dritte weitergegeben. Wir verarbeiten Ihre Daten ausschließlich zum Zwecke der Organisation des Lehrbetriebs.</p>
</span>

<h3>1. Datenerhebung und -verarbeitung bei Zugriffen aus dem Internet</h3>
<span>
  <p>Wenn Sie unsere Webseiten besuchen, speichern unsere Webserver automatisch jeden Zugriff in einer Protokolldatei.</p>
  <p>Diese Daten werden getrennt von anderen Daten, die Sie im Rahmen der Nutzung unseres Angebotes eingeben, gespeichert. Eine Zuordnung dieser Daten zu einer bestimmten Person wird nicht vorgenommen.</p>
  <p>Folgende Daten werden erfasst:</p>
  <li>Datum und Uhrzeit des Zugriffs</li>
  <li>URL der abgerufenen Seite</li>
  <li>Browsertyp, Browserversion und Betriebssystem</li>
  <li>Übertragene Datenmenge</li>
  <li>Bewegungsprofil (im Fehlerfall)</li>
  <li>Zugriffsstatus des Web-Servers (Datei übertragen, Datei nicht gefunden, Kommando nicht ausgeführt, etc.)</li>
  <p>Diese Daten sind nicht bestimmten Personen zugeordnet. Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen. Wir behalten uns jedoch vor, diese Daten nachträglich zu prüfen, wenn uns konkrete Anhaltspunkte für eine missbräuchliche Nutzung oder ein Verdacht auf eine Fehlfunktion des Systems bekannt werden.</p>
  <p>Wir speichern weitere Daten aus dem laufenden Betrieb zum Zweck der Fehlersuche und der Abwehr von Angriffen und missbräuchlicher Benutzung ("error log"). Wir tun dies um die notwendige Datensicherheit zu gewährleisten. Diese Daten sind nur den Administratoren des Systems zugänglich; folgende Daten werden im Fehlerfall anonymisiert an sentry weitergegeben: Browser, Betriebssystem, anonymisierte Fehlermeldungen und das anonymisierte Bewegungsprofil innerhalb der Seite.</p>
  <p>Rechtsgrundlage der Verarbeitung ist Art. 6 Abs. 1 b) der DS-GVO.</p>
</span>

<h3>2. Nutzung und Weitergabe personenbezogener Daten</h3>
<span>
  <p>Für die Nutzung unserer Dienste sind verschiedene personenbezogene Daten erforderlich. Einen Teil dieser Daten (Matrikelnummer, Name, Vorname und E-Mail Adresse) beziehen wir aus dem OBS(obs.fbi.h-da.de) des Fachbereichs Informatik.</p>
<p>Jegliche Nutzung Ihrer personenbezogenen Daten erfolgt nur zu den genannten Zwecken und in dem zur Erreichung dieser Zwecke erforderlichen Umfang. Keine dieser Daten werden ohne vorherige Einwilligung des Nutzers an Dritte weitergegeben.</p>
<p>Die übermittelten Daten werden in einer Datenbank gespeichert, die nur Administratoren zugänglich ist.</p>
<p>Übermittlungen personenbezogener Daten an staatliche Behörden erfolgen nur im Rahmen zwingender nationaler Rechtsvorschriften.</p>
<p>Rechtsgrundlage der Verarbeitung sind Art. 6 Abs. 1 b) und c) der DS-GVO bzw. die §§ 3 Abs.1 , 43, 44, 45, 46 HDSIG.</p>
</span>

<h3>3. Cookies</h3>
<span>
  <p>Unsere Webseiten verwenden so genannte Cookies. Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren. Cookies sind kleine Textdateien, die vom Browser auf Ihrem Rechner gespeichert werden.</p>
<p>Wir verwenden so genannte "Session-Cookies" um Ihnen Ihre Seitenaufrufe nach einem Login zuordnen zu können. Diese Cookies sind notwendig für die sichere Funktion und werden beim Logout automatisch ungültig (Sie sollten sich daher am Ende explizit ausloggen und nicht nur den Browser schließen um bestmögliche Sicherheit zu erzielen). Außerdem speichern wir Ihre Auswahl für Mobile/Desktop, Sprache, Schriftgröße, Design und Layout als Cookies in Ihrem Browser um ein einheitliches Erscheinungsbild der verschiedenen Seiten zu gewährleisten. Diese Cookies sind ein Jahr lang gültig; Sie können sie aber jederzeit löschen oder überschreiben.</p>
  <p>Unsere Webseiten speichern keine Cookies von Dritten ("third party cookies", "Drittanbieter").</p>
<p>Sie können das automatische Löschen der Cookies beim Schließen des Browser aktivieren; die Funktionalität dieser Website wird dadurch nicht eingeschränkt.</p>
<p>Rechtsgrundlage der Verarbeitung sind Art. 6 Abs. 1 b) DS-GVO.</p>
</span>

<h3>4. Sicherheit</h3>
<span>
<p>Unsere technisch-organisatorischen Sicherheitsmaßnahmen, mit denen wir sämtliche Daten vor dem Zugriff Unberechtigter schützen, werden stets auf dem aktuellen technischen Stand gehalten. Personenbezogene Informationen werden grundsätzlich in verschlüsselter Form übertragen.</p>
<p>Unsere Webseiten nutzen aus Gründen der Sicherheit und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel der Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von "http://" auf "https://" wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.</p>
<p>Wenn die SSL Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.</p>
</span>

<h3>5. Links zu Webseiten anderer Anbieter</h3>
<p>Unsere Webseiten können Links zu Webseiten anderer Anbieter enthalten. Wir weisen darauf hin, dass diese Datenschutzerklärung ausschließlich für die Webadresse geli.fbi.h-da.de gilt. Wir haben keinen Einfluss auf andere Anbieter und kontrollieren nicht, dass andere Anbieter die geltenden Datenschutzbestimmungen einhalten.</p>

<h3>6. Recht auf Auskunft, Berichtigung, Sperrung oder Löschung von Daten</h3>
<span>
  <p>Den Nutzern unserer Webseiten steht ein Auskunftsrecht bezüglich der über sie gespeicherten personenbezogenen Daten und ferner ein Recht auf Berichtigung unrichtiger Daten, Einschränkung der Verarbeitung und Löschung sowie Widerspruch gegen die Verarbeitung und Datenübertragbarkeit zu.</p>
  <p>Der Datenschutzbeauftragte der Hochschule Darmstadt ist unter datenschutz@h-da.de erreichbar.</p>
  <p>Auf das Bestehen eines Beschwerderechts bei einer Aufsichtsbehörde wird hingewiesen.</p>
  <p>Die zuständige Aufsichtsbehörde ist:</p>
  <p>Der Hessische Datenschutzbeauftragte<br>
  Gustav-Stresemann-Ring 1<br>
  65189 Wiesbaden<br>
  Telefon: 0611 1408-0<br></p>
  <p>E-Mail: poststelle@datenschutz-hessen.de</p>
  <p>Internet: <a href="http://www.datenschutz.hessen.de">http://www.datenschutz.hessen.de</a></p>
</span>

<h3>7. Gültigkeit und Aktualität der Datenschutzerklärung</h3>
<p>Mit der Nutzung unserer Webseite willigen Sie in die oben beschriebene Datenverwendung ein. Diese Datenschutzerklärung ist unmittelbar gültig und ersetzt alle früheren Erklärungen.</p>

<h3>8. Widerspruch gegen Werbe-Mails</h3>
<p>Der Nutzung von auf dieser Website veröffentlichten Kontaktdaten zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-E-Mails, vor.</p>

