<!--
<div *ngIf="model">
  <span *ngIf="model.files.length">Existing files:</span>
  <div *ngFor="let file of model.files;">
    <mat-form-field>
      <input matInput [(ngModel)]="file.alias" placeholder="File name" size="40">
    </mat-form-field>
    <button mat-icon-button matTooltip="Delete" (click)="deleteFile(file)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div>
    <button mat-button color="primary" (click)="update()"
            [disabled]="!generalInfo.form.value.name || hasInvalidFileNames()">
      Update
    </button>
  </div>
</div>
-->
<div>
  <input type="file" ng2FileSelect [uploader]="fileUploader" placeholder="Upload files" multiple/>
  <button mat-button *ngIf="this.fileUploader.queue.length" color="warn" (click)="clearQueue()">
    Remove all
  </button>
</div>
<div>
  <div *ngFor="let item of fileUploader.queue">
    <strong>{{ item?.file?.name }}</strong>
    <span *ngIf="item.isReady">(ready)</span>
    <span *ngIf="item.isUploading">(uploading...)</span>
    <span *ngIf="item.isSuccess">(success!)</span>
    <mat-progress-bar mode="determinate" [value]="item.progress"></mat-progress-bar>
  </div>
</div>
<div>
  Queue progress:
  <div>
    <mat-progress-bar mode="determinate" [value]="fileUploader.progress"></mat-progress-bar>
  </div>
</div>
