@import "../../../../variables";
@import "../../../../styles/file-list";

.file-dropzone {
  display: table;
  height: 7.5rem;
  width: 100%;
  cursor: pointer;

  border: dotted 2px map-get($app-primary, 'default');

  &.nv-file-over {
    border-color: map-get($app-accent, 'default');
  }

  span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

.image-preview-group {
  align-items: center;
  display: flex;
  flex-direction: column;

  .preview-image {
    width: 10rem;
  }
}
