@import "../../../../variables";

.file-dropzone {
  display: table;
  height: 7.5rem;
  width: 100%;
  cursor: pointer;

  border: dotted 2px map-get($app-primary, 'default');

  &.nv-file-over {
    border-color: map-get($app-accent, 'default');
  }

  span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

.queue-container {
  margin-top: 1rem;

  .overall-progress {
    padding-bottom: 0.5rem;
    display: table;
    width: 100%;
    border-bottom: 2px solid map-get($mat-grey, 300);

    span {
      display: table-cell;
      width: 25%;
      vertical-align: middle;
      padding: 0.5rem;

      &.progress-bar {
        width: 75%;
      }
    }
  }

  .file-queue {
    width: 100%;
    display: table;
    border-collapse: collapse;
    margin-top: 0.5rem;

    .file-queue-row {
      display: table-row;
      width: 100%;
      border-bottom: 1px solid map_get($mat-grey, 300);

      &.file-queue-header {
        font-weight: bold;
      }

      span,
      mat-action-row {
        display: table-cell;
        padding: 0.5rem;

        &.progress-col {
          width: 50%;
        }
      }
    }
  }
}

