<div class="container" *ngIf="course">
  <div class="lectures" [dragula]="'lectures'" [dragulaModel]="course.lectures">
    <app-lecture-edit
      *ngFor="let lecture of course.lectures"
      [lecture]="lecture"
      [course]="course">
    </app-lecture-edit>
  </div>

  <p *ngIf="!course.lectures.length">No lectures added yet.</p>

  <app-lecture-form *ngIf="isInMode('lecture', 'create')" (onSubmit)="createLecture($event)" [onCancel]="closeAddLecture"
                    actionLabel="Add"></app-lecture-form>
</div>

<button mat-fab class="alignright" color="primary" (click)="onAddLecture()" matTooltip="Add Lecture">
  <mat-icon>add</mat-icon>
</button>
