@import "../../../../variables";
@import "../../../../breakpoints";

.container {
  min-height: 500px;
}

.fab {
  position: fixed;
  bottom: 1ex;
  right: 1ex;

  @include bp(xxl) {
    position: absolute;
  }
}

.lecture {
  .lecture-header {
    display: flex;
    align-items: center;

    h2, .lecture-menu-button {
      font-size: 18px;
      color: rgba(0, 0, 0, 0.50);
    }

    .flex-spacer {
      flex-grow: 1;
    }
  }

  .lecture-drag-handle, .unit-drag-handle {
    cursor: move;
    opacity: 0.2;
    user-select: none;
    margin-right: 0.5em;

    &:hover {
      opacity: 1;
    }
  }

  .open-toggle {
    color: map-get($app-primary, 'default');
    transition: transform 0.3s;
    transform: rotate(-90deg);

    &.opened {
      transform: rotate(0);
    }
  }

  .lecture-content {
    margin-bottom: 34px;

    .units {
      margin-top: 24px;
    }
  }
}

// Needs to be unnested, otherwise style is lost while dragging
.unit {
  border-bottom: 1px solid map-get($mat-grey, 300);
  &, &:first-child {
    border-top: 1px solid map-get($mat-grey, 300);
  }

  .unit-content {
    height: 64px;
    display: flex;
    align-items: center;

    .unit-name {
      flex: 1;
    }

    .unit-type {
      flex: 1;
    }

    .unit-date {
      flex: 1;
    }

    .unit-date, .unit-actions .mat-icon {
      color: map-get($mat-grey, 600);
    }
  }
}
