<div class="container" *ngIf="course" (click)="closeFab()">
  <div class="lectures" [dragula]="'lectures'" [dragulaModel]="course.lectures">
    <app-lecture-edit
      *ngFor="let lecture of course.lectures"
      [lecture]="lecture"
      [course]="course">
    </app-lecture-edit>
  </div>

  <p *ngIf="!course.lectures.length">{{ 'lecture.text.noLecture' | translate }}</p>

  <app-lecture-form *ngIf="isInMode('lecture', 'create')" (onSubmit)="createLecture($event)" [onCancel]="closeAddLecture"
                    actionLabel="Add"></app-lecture-form>
</div>

<div class="mat-fab-menu-spacer"></div>

<app-mat-fab-menu class="fab" [open]="fabOpen" [onClick]="onFabClick"
                  [disabled]="isInMode('lecture', 'create') || isInMode('lecture', 'edit') || isInMode('unit', 'create') || isInMode('unit', 'edit')"
                  [fabTooltip]="'unit.addContent' | translate">
  <div *ngIf="isLectureOpen()" (click)="onImportUnit()">{{ 'unit.import' | translate }}</div>
  <div *ngIf="isLectureOpen()" (click)="onAddUnit('task')">{{ 'unit.addTasks' | translate }}</div>
  <div *ngIf="isLectureOpen()" (click)="onAddUnit('file')">{{ 'unit.addFiles' | translate }}</div>
  <div *ngIf="isLectureOpen()" (click)="onAddUnit('code-kata')">{{ 'unit.addCodeKata' | translate }}</div>
  <div *ngIf="isLectureOpen()" (click)="onAddUnit('video')">{{ 'unit.addVideos' | translate }}</div>
  <div *ngIf="isLectureOpen()" (click)="onAddUnit('free-text')">{{ 'unit.addFreeText' | translate }}</div>
  <div *ngIf="isLectureOpen()" (click)="onAddUnit('assignment')">{{ 'unit.assignment.add' | translate }}</div>
  <div (click)="onImportLecture()">{{ 'lecture.text.import' | translate }}</div>
  <div (click)="onAddLecture()">{{ 'lecture.text.add' | translate }}</div>
</app-mat-fab-menu>
