@import '../../../../variables';

.container {
  min-height: 500px;
}

.fab {
  @include globalFabBtn;
}

.mat-fab-menu-spacer {
  display: none;

  @include bp(max) {
    display: block;
    height: 4rem;
  }
}
