<div class="edit-unit">
  <app-upload *ngIf="course && unitType == 'video'" [course]="course"></app-upload>
  <app-task-unit-edit *ngIf="course && unitType == 'task'" [courseId]="course._id" [lectureId]="lecture._id"></app-task-unit-edit>
  <app-free-text-unit-form *ngIf="course && unitType == 'free-text'" [courseId]="course._id" [lectureId]="lecture._id"></app-free-text-unit-form>
</div>
<div class="edit-unit-action">
  <button md-raised-button color="primary" (click)="done()">Done</button>
  <button md-raised-button color="warn" (click)="done()">Cancel</button>
</div>
