<div class="edit-unit">
  <app-upload *ngIf="course && type == 'video'"
              [course]="course"
              [model]="model"
              [lecture]="lecture"
              [onDone]="onDone"
              [onCancel]="onCancel"></app-upload>
  <app-task-unit-edit *ngIf="course && type == 'task'"
                      [course]="course"
                      [model]="model"
                      [lectureId]="lecture._id"
                      [onDone]="onDone"
                      [onCancel]="onCancel"></app-task-unit-edit>
  <app-code-kata-unit-form *ngIf="course && type == 'code-kata'"
                           [course]="course"
                           [model]="model"
                           [lectureId]="lecture._id"
                           [onDone]="onDone"
                           [onCancel]="onCancel"></app-code-kata-unit-form>

</div>
