<div class="mm-container debug">
  <!-- Left part: Folders -->
  <div class="part part--left" [ngClass]="{'hide': !folderBarVisible}">
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button (click)="toggleFolderBarVisibility()">
          <mat-icon *ngIf="folderBarVisible">close</mat-icon>
          <mat-icon *ngIf="!folderBarVisible">arrow_right</mat-icon>
        </button>
        <span *ngIf="folderBarVisible">{{ 'common.folder' | translate }}</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="folder-wrapper">
      <p>
        <mat-icon class="inline-mat-icon">folder</mat-icon>
        <span>{{ course?.media?.name }}</span>
      </p>
    </div>
  </div>

  <!-- Center part: search/files -->
  <div class="part part--center">

    <!-- Todo: Add search here -->

    <!-- Files cards -->
    <div class="area--files">

      <!-- Multi-Select button area -->
      <div class="btn__area" *ngIf="!showUpload">

        <button class="text-fit" mat-raised-button [matTooltip]="'file.tooltip.uploadFile' | translate"
                (click)="addFile()">
          <mat-icon>cloud_upload</mat-icon>
        </button>
        <!--<button class="text-fit" mat-raised-button matTooltip="Select all" (click)="selectAll()">-->
        <!--<mat-icon>select_all</mat-icon>-->
        <!--</button>-->
        <button [disabled]="selectedFiles.length <= 1"
                class="text-fit" mat-raised-button [matTooltip]="'file.text.fileRemove' | translate"
                color="warn"
                (click)="removeSelectedFile()">
          <mat-icon>delete</mat-icon>
        </button>

      </div>

      <div class="container" *ngIf="allowedMimeTypes?.length">
        <div  class="row">
          <div><small>Allowed MimeTypes:</small></div>
          <div><small *ngFor="let type of allowedMimeTypes; let first = first ;let last = last"> {{ type }}{{!last?',':''}}</small></div>
        </div>
      </div>




      <div class="container" *ngIf="showUpload">
        <div class="row">
          <app-upload-form
            [ngClass]="{'col-lg-12 col-xl-10': !isDialog}"
            class="col"
            [uploadMethod]="'POST'"
            [uploadPath]="getUploadUrl()"
            [additionalData]="null"
            (onFileSelectedChange)="null"
            (onFileUploaded)="onFileUploaded($event)"
            (onAllUploaded)="onAllUploaded()"></app-upload-form>
        </div>

        <div class="row margin-top">
          <div
            [ngClass]="{'col-lg-12 col-xl-10': !isDialog}"
            class="col">
            <div class="pull-right">
              <button mat-raised-button color="primary"
                      (click)="uploadAllFiles()" [disabled]="!uploadHasQueueItems()">
                <mat-icon>file_upload</mat-icon>
                {{ 'file.placeholder.uploadFiles' | translate }}
              </button>
              <button mat-raised-button (click)="cancelFileUpload()">{{ 'common.cancel' | translate }}</button>
            </div>

          </div>
        </div>
      </div>


      <!-- File Cards -->
      <div class="file-wrapper" [ngClass]="{'isDialog': isDialog}" *ngIf="!showUpload">
        <ng-container *ngFor="let file of currentFolder?.files">
          <mat-card
            *ngIf="!allowedMimeTypes || allowedMimeTypes.indexOf(file.mimeType) >= 0"
            [ngClass]="{'small': isDialog, 'card_active':isInSelectedFiles(file), 'card': !isInSelectedFiles(file)}"
            (click)="toggleSelection(file)">

            <div class="icon-wrapper"  [ngClass]="{'small': isDialog}" >
              <ng-container>
                <mat-icon>{{ fileIcon.fileToIcon(file) }}</mat-icon>
              </ng-container>
            </div>

            <ul class="info">
              <li><strong>{{file.name}}</strong></li>
              <li>{{file.size | filesize}}</li>
              <li>{{file.mimeType}}</li>
            </ul>

            <div class="opacity" *ngIf="isInSelectedFiles(file)"></div>

            <div class="card-btn-wrapper" *ngIf="isInSelectedFiles(file)">
              <button mat-raised-button *ngIf="selectedFiles.length <= 1" (click)="$event.stopPropagation();initFileDownload(file)"
                      [matTooltip]="'common.openInTab' | translate">
                <mat-icon>open_in_new</mat-icon>
              </button>
              <button mat-raised-button *ngIf="selectedFiles.length <= 1" (click)="renameFile(file)"
                      [matTooltip]="'common.rename' | translate">
                <mat-icon>mode_edit</mat-icon>
              </button>
              <button mat-raised-button color="warn" (click)="removeSelectedFile()" *ngIf="selectedFiles.length <= 1"
                      [matTooltip]="'common.delete' | translate">
                <mat-icon>delete</mat-icon>
              </button>
            </div>

          </mat-card>
        </ng-container>
        <p *ngIf="currentFolder?.files.length === 0">
          {{ 'file.text.noFiles' | translate }}
        </p>
      </div>
    </div>
  </div>
</div>

<mat-dialog-actions *ngIf="isDialog">
  <button mat-raised-button color="primary"
          [disabled]="!selectedFiles.length"
          [mat-dialog-close]="selectedFiles" >
    <mat-icon>add</mat-icon>
    {{ 'unit.addFilesToUnit' | translate }}
  </button>
  <button mat-raised-button mat-dialog-close>{{ 'common.cancel' | translate }}</button>
</mat-dialog-actions>
