$width__left: 15%;

.mm-container {
  display: flex;
}

.part {
  margin: 0;
  padding: 0 1ex;

  &--left {
    width: $width__left;
    padding-left: 0;
    min-width: 6em;
    transition: width 300ms ease;

    &.hide {
      min-width: 4rem;
      width: 4rem;

      .folder-wrapper {
        display: none;
      }
    }

    .mat-toolbar-multiple-rows {
      min-height: 50px;

      .mat-toolbar-row {
        height: 50px;
        padding: 0 10px;
      }

      .mat-icon-button {
        cursor: pointer;
      }
    }
  }

  &--center {
    transition: width 300ms ease;
    flex-grow: 1;
    padding-right: 0;
  }
}
