<div class="mm-container debug">
  <!-- Left part: Folders -->
  <div class="part part--left" [ngClass]="{'hide': !folderBarVisible}">
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button (click)="toggleFolderBarVisibility()">
          <mat-icon *ngIf="folderBarVisible">close</mat-icon>
          <mat-icon *ngIf="!folderBarVisible">arrow_right</mat-icon>
        </button>
        <span *ngIf="folderBarVisible">Folder</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="folder-wrapper">
      <p>{{ course?.media?.name }}</p>
    </div>
  </div>

  <!-- Center part: search/files -->
  <div class="part part--center">

    <!-- Todo: Add search here -->

    <!-- Files cards -->
    <div class="area--files">

      <!-- Multi-Select button area -->
      <div class="btn__area">
        <button class="text-fit" mat-raised-button matTooltip="Upload file" (click)="addFile()">
          <mat-icon>add</mat-icon>
        </button>
        <button class="text-fit" mat-raised-button matTooltip="Select all">
          <mat-icon>select_all</mat-icon>
        </button>
      </div>

      <!-- File Cards -->
      <div class="file-wrapper">
        <ng-container *ngFor="let file of currentFolder?.files">
          <mat-card [ngClass]="isInSelectedCards(file) ? 'active' : 'file'" (click)="toggleSelection(user)">
            <!-- TODO -->
          </mat-card>
        </ng-container>
        <p *ngIf="currentFolder?.files.length === 0">
          No Files so far.
        </p>
      </div>
    </div>
  </div>
</div>
