@import '../../../../variables';

$width__left: 15%;

.mm-container {
  display: flex;
}

.part {
  margin: 0;
  padding: 0 1ex;

  &--left {
    width: $width__left;
    padding-left: 0;
    min-width: 6em;
    transition: width 300ms ease;

    &.hide {
      min-width: 4rem;
      width: 4rem;

      .folder-wrapper {
        display: none;
      }
    }

    .mat-toolbar-multiple-rows {
      min-height: 50px;

      .mat-toolbar-row {
        height: 50px;
        padding: 0 10px;
      }

      .mat-icon-button {
        cursor: pointer;
      }
    }
  }

  &--center {
    transition: width 300ms ease;
    flex-grow: 1;
    padding-right: 0;
  }
}

.card button {
  width: 184px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.text-fit {
  min-width: 1em;
  width: auto;
}

.card {
  height: 248px;
  width: 248px;
  float: left;
  margin: 10px;
  border-radius: 8px;
  background: no-repeat 75px 15px;

  &:hover {
    background-color: map-get($app-primary, 700);;
  }

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .card-btn-wrapper {
    position: absolute;
    bottom: 24px;
  }
}

.card_active {
  @extend .card;
  background: #4490E2;

  .info {
    color: #ffffff;
  }
}

.opacity {
  background-color: #000;
  opacity: .33;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  border-radius: 8px;
}

.info {
  position: absolute;
  margin-bottom: 0;
  font-size: .9em;
}
