@import '../../../../variables';
@import '../../../../styles/card';
@import '../../../../styles/bootstrap-grid.css';

$margin__card: 10px;
$width__left: 30%;
$toolbar__height: 50px;

.mm-container {
  display: flex;
}


mat-card.ng-star-inserted {
  max-width: inherit;
  min-width: inherit;
}

.margin-top{
  margin-top: 15px;
}

.part {
  margin: 0;
  padding: 0 1ex;

  &--left {
    width: $width__left;
    padding-left: 0;
    min-width: 6em;
    max-width: 200px;
    transition: width 300ms ease;

    &.hide {
      min-width: 4rem;
      width: 4rem;

      .folder-wrapper {
        display: none;
      }
    }

    .mat-toolbar-multiple-rows {
      min-height: 50px;

      .mat-toolbar-row {
        height: $toolbar__height;
        padding: 0 10px;
      }

      .mat-icon-button {
        cursor: pointer;
      }
    }
  }

  &--center {
    transition: width 300ms ease;
    flex-grow: 1;
    padding-right: 0;
  }
}

.file-wrapper {
  margin-left: -$margin__card;
  margin-right: -$margin__card;

  &.isDialog {
    overflow-y: scroll;
    max-height: 80vh;
  }

}

.inline-mat-icon {
  font-size: 1.2em;
}

.btn__area {
  height: $toolbar__height;
}
