$viewWidth: 300px;

.user-icon {
  background-size: cover;
  border-radius: 1.25rem;
  display: inline-block;
  height: 2.5rem;
  margin-bottom: 20px;
  vertical-align: middle;
  width: 2.5rem;
}

.edit-user-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;

  .user-form {
    width: $viewWidth;

    .full-width {
      width: 100%;
    }
  }

  .button-wrapper {
    margin-top: 10px;
    width: $viewWidth;
  }
}