<h1>Edit profile</h1>

<form name="form" class="user-form" (ngSubmit)="onSubmit()" [formGroup]="userForm">
  <div class="form-group" formGroupName="profile">
    <md-input-container class="full-width">
      <input mdInput formControlName="firstName" placeholder="First name"/>
    </md-input-container>

    <md-input-container class="full-width">
      <input mdInput formControlName="lastName" placeholder="Last name"/>
    </md-input-container>
  </div>

  <md-input-container class="full-width">
    <input mdInput formControlName="email" placeholder="e-mail"/>
  </md-input-container>

  <md-input-container class="full-width">
    <input mdInput type="password" formControlName="currentPassword" placeholder="Current password"/>
  </md-input-container>

  <md-input-container class="full-width">
    <input mdInput type="password" formControlName="password" placeholder="Password"/>
  </md-input-container>

  <md-input-container class="full-width">
    <input mdInput type="password" formControlName="confirmPassword" placeholder="Confirm password"/>
    <div class="form-text error" *ngIf="userForm?.controls.confirmPassword.touched">
      <div *ngIf="userForm.hasError('mismatchedPasswords')">Passwords do not match.</div>
    </div>
  </md-input-container>

  <button md-raised-button color="accent" class="md-button" type="submit">Save</button>
  <button md-raised-button color="warn" class="md-button" routerLink="/profile" routerLinkActive="active">Cancel
  </button>
</form>
