<mat-form-field class="pull-right">
  <mat-select placeholder="Sorted by">
    <mat-option value="last visited" (click)="sortCourses()">last visited</mat-option>
    <mat-option value="alphabetically" (click)="sortAlphabetically()">alphabetically</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="pull-right">
  <input matInput (keyup)="getInput($event)" placeholder="search course" maxlength="64"/>
</mat-form-field>
<app-course-container [title]="'dashboard.createdCourses'|translate" [courses]="myCourses" [expand]="true"
                      (onEnroll)="enrollCallback()"></app-course-container>
<app-course-container [title]="'dashboard.teacherCourses'|translate" [courses]="furtherCourses" [expand]="true"
                      (onEnroll)="enrollCallback()"
                      *ngIf="furtherCourses.length"></app-course-container>
<app-course-container [title]="'dashboard.inactiveCourses'|translate" [courses]="inactiveCourses"
                      [expand]="true"
                      (onEnroll)="enrollCallback()"
                      *ngIf="inactiveCourses.length"></app-course-container>
<app-course-container [title]="'dashboard.availableCourses'|translate" [courses]="availableCourses"
                      [expand]="false"
                      (onEnroll)="enrollCallback()"></app-course-container>

<app-mat-fab-menu class="add-course-fab" [open]="fabOpen" [onClick]="onFabClick"
                  [fabTooltip]="'dashboard.addCourse'|translate">
  <div (click)="onImportCourse()">{{ 'dashboard.importCourse'|translate }}</div>
  <div routerLink="course/new">{{ 'dashboard.createCourse'|translate }}</div>
</app-mat-fab-menu>
