<strong>Videos</strong>

<app-unit-general-info-form [model]="model"></app-unit-general-info-form>
<div *ngIf="model">
  <span *ngIf="model.files.length">Existing videos:</span>
  <div *ngFor="let file of model.files;">
    <mat-form-field>
      <input matInput [(ngModel)]="file.alias" placeholder="File name" size="40">
    </mat-form-field>
    <button mat-icon-button matTooltip="Delete" (click)="deleteFile(file)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="updateButton">
    <button mat-button color="primary" (click)="update()"
            [disabled]="!generalInfo.form.value.name || hasInvalidFileNames()">
      Update
    </button>
  </div>
</div>
<div>
  <input id="fileToUpload" type="file" style="display:none;" ng2FileSelect [uploader]="uploader" placeholder="Upload videos" multiple
         [accept]="allowedMimeType.toString()"/>
  <div class="uploadButton" onclick="document.getElementById('fileToUpload').click()">
    <button mat-raised-button color="primary">
      Choose File(s)
    </button>
  </div>
  <button *ngIf="uploader.queue.length" mat-button color="warn" (click)="uploader.clearQueue()">
    Remove all
  </button>
</div>
<div>
  <div *ngFor="let item of uploader.queue" class="uploadQueue">
    <strong>{{ item?.file?.name }}</strong>
    <span *ngIf="item.isReady">(waiting for upload)</span>
    <span *ngIf="item.isUploading">(uploading...)</span>
    <span *ngIf="item.isSuccess">(upload successfull!)</span>
    <mat-progress-bar *ngIf="item.isUploading" mode="determinate" [value]="item.progress"></mat-progress-bar>
  </div>
</div>
<div *ngIf="showQueueBar">
  Queue progress:
  <div>
    <mat-progress-bar mode="determinate" [value]="uploader.progress"></mat-progress-bar>
  </div>
</div>
<p>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary"
          (click)="uploadAll()" [disabled]="(!uploader.getNotUploadedItems().length) || (!generalInfo.form.value.name)">
    Upload
  </button>
</p>
