@import '../../../breakpoints';

.course-form {
  margin-top: 10px;
}

.mat-input-container {
  width: 100%;

  @include bp(md) {
    width: 60%;
  }
}

.upload {
  min-width: 250px;
  width: 100%;

  + button {
    margin-top: 10px;
  }

  @include bp(sm) {
    width: auto;

    + button {
      margin-top: 0;
    }
  }
}

.slider {
  min-width: 250px;
}
