.tab-content {
  padding-top: 1.5em;
}

.course-form {
  max-width: 700px;
}

.full-width {
  width: 100%;
}

.csv-upload {
  margin-bottom: 2em;
}

.upload {
  min-width: 250px;
}

.slider {
  min-width: 250px;
}

.course-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  h1 {
    margin: 0;
  }
}
