<h1>Edit course</h1>

<md-tab-group dynamicHeight="true">
  <md-tab label="General">
    <form class="course-form" (ngSubmit)="createCourse()">
      <md-input-container class="full-width">
        <input async mdInput id="name" placeholder="Course Name" [(ngModel)]="course"
               [ngModelOptions]="{standalone: true}">
      </md-input-container>

      <md-input-container class="full-width">
          <textarea mdInput id="description" placeholder="Course Description" [(ngModel)]="description"
                    [ngModelOptions]="{standalone: true}"></textarea>
      </md-input-container>

      <md-input-container class="full-width">
        <input async mdInput id="accessKey" placeholder="Access Key" [(ngModel)]="accessKey"
               [ngModelOptions]="{standalone: true}">
      </md-input-container>

      <md-slide-toggle>Activate course</md-slide-toggle>

      <p>
        <button md-raised-button color="primary" class="md-button" type="submit">Save</button>
      </p>
    </form>
  </md-tab>

  <md-tab label="Manage content">
    <app-course-manage-content [course]="courseOb"></app-course-manage-content>
  </md-tab>

  <md-tab label="Course Members">
    <app-members [courseId]="id"></app-members>
  </md-tab>

  <md-tab label="Course Teachers">
  <app-teachers [courseId]="id"></app-teachers>
  </md-tab>

  <md-tab label="Define Tasks">
    <app-task-unit-edit [courseId]="id"></app-task-unit-edit>
  </md-tab>

  <md-tab label="Video Upload">
    <app-upload *ngIf="courseOb" [course]="courseOb"></app-upload>
  </md-tab>

</md-tab-group>
