<h2>Add files to unit</h2>
<span>Files selected: {{selectedOptions.length}}</span>
<mat-dialog-content>
  <mat-selection-list #fileList dense [(ngModel)]="selectedOptions">
    <mat-list-option *ngFor="let file of allFiles" [value]="file">
      <span>{{file.name}}</span>
    </mat-list-option>
  </mat-selection-list>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="save()">
    SAVE
  </button>
  <button mat-raised-button (click)="cancel()">
    CANCEL
  </button>
</mat-dialog-actions>
