@import "../../../variables";

.courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.open-toggle {
  color: map-get($app-primary, 'default');
  transition: transform 0.3s;
  transform: rotate(-90deg);

  &.opened {
    transform: rotate(0);
  }
}
