@import '../../../variables';

.courses {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: -8px;

  @include bp(sm) {
    flex-direction: row;
  }
}

.title-header {
  align-self: flex-start;
  margin-top: 0.3em;
  display: flex;
  cursor: pointer;
  align-items: center;

  .flex-spacer {
    flex-grow: 1;
  }
}

.mat-badge-content {
  right: 0 !important;
}

.subtitle {
  padding-left: 1em;
}

.open-toggle {
  color: map-get($app-primary, 'default');
  width: 50px;
  height: 50px;
  transition: transform 0.3s;
  float: right;
  transform: rotate(-90deg);
  &.opened {
    transform: rotate(0);
  }
}

.arrow {
  font-size: 36px;
  height: 36px;
  width: 36px;
}

h1.small {
  @media only screen and (max-width: 475px) {
    font-size: 20px;
  }
}
