:host {
  position: relative;
}

.lecture-card {
  margin-bottom: 20px;
  position: relative;

  .lecture-menu {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.add-lecture-fab {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
