<mat-card class="lecture-card" *ngIf="lecture">
  <mat-card-header class="clickable" (click)="changeExpanded()">
    <mat-card-title><h1>{{lecture.name}}</h1></mat-card-title>
    <span class="fill-space"></span>
    <button class="toggle" onclick="changeExpanded()" [class.opened]="expanded === true" mat-icon-button>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <p>{{lecture.description}}</p>
    <div *ngIf="expanded == true" >
      <app-unit *ngIf="lecture.units" [units]="lecture.units"></app-unit>
    </div>
  </mat-card-content>
</mat-card>
