// How to use the breakpoints:
// @import '(../)variables';
// div {
//   // the mobile code
//
//   @include bp(md) {
//     // special code for bigger devices
//   }
// }

$breakpoints: (
  sm: $bp-width--sm, // Small
  md: $bp-width--md, // Medium
  lg: $bp-width--lg, // Large
  xl: $bp-width--xl, // X Large
  exl: $bp-width--exl, // Extended X Large
  xxl: $bp-width--xxl, // XX Large
  max: $bp-width--max, // 4k-Viewports
);

@mixin bp($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}
