// With a material update we can disable this hack
// see app/webFrontend/src/app/unit/unit-form/free-text-unit-form/free-text-unit-form.component.ts:78
.mat-dialog-container {
  max-width: 100vw !important;
}
