// STYLES
body {
  font-family: $font-body;
  font-size: $base-font-size;
  line-height: $line-height--base;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-header;
  line-height: $line-height--header;
  font-weight: 600;
}

.logo-font {
  font-family: $font-logo;
}

a:not([mat-button]) {
  $baseClr: map-get($app-warn, 'default');
  color: $baseClr;
  text-decoration: underline;

  &:visited {
    color: darken($baseClr, 10%);
  }

  &:hover {
    color: lighten($baseClr, 10%);
    text-decoration: none;
  }
}
