<div>
  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Write">
      <p class="info-text">
        <mat-icon>info</mat-icon>
        {{ 'common.addMarkdownText' | translate }}
      </p>

      <ace-editor #editor
                  [(text)]="this.markdown"
                  [mode]="'markdown'"
                  [theme]="'github'"
                  [autoUpdateContent]="true">
      </ace-editor>
    </mat-tab>
    <mat-tab label="Preview">
      <div [innerHtml]="this.renderedHtml"></div>
    </mat-tab>
  </mat-tab-group>
  <app-button-save-cancel *ngIf="save" (save)="emitSave()" (cancel)="emitCancel()"></app-button-save-cancel>
</div>
