<h3>Files</h3>

<app-unit-general-info-form [model]="model"></app-unit-general-info-form>
<div *ngIf="model?.files?.length > 0" class="file-list-container uploaded-files">
  <div class="file-list">
    <div class="file-list-row file-list-header">
      <span>Filename</span>
      <span>Filesize</span>
      <span>Actions</span>
    </div>
    <div class="file-list-row" *ngFor="let file of model.files">
      <span class="filename">{{file.alias}}</span>
      <span class="filesize">{{file.size | filesize}}</span>
      <mat-action-row>
        <button mat-raised-button color="warn" (click)="removeFile(file)">
          <mat-icon>delete</mat-icon>Remove
        </button>
      </mat-action-row>
    </div>
  </div>
</div>

<p>
  <button mat-raised-button (click)="openAddFilesDialog()">
    Add files
  </button>
</p>
<p>
  <button mat-raised-button color="primary"
          (click)="save()" [disabled]="checkSave()">
    <mat-icon>save</mat-icon>
    Save
  </button>
  <button mat-raised-button (click)="onCancel()">Cancel</button>
</p>
