<div class="layout">
<h2>{{course.name}}</h2>
<ng-container *ngIf="!course.lectures.length">No lectures to download!</ng-container>
<mat-list *ngFor=" let lecture of course.lectures">
  <mat-list-item class="lecture">{{lecture.name}}
    <span class="spacer"></span>
    <mat-checkbox class ="chkbox"></mat-checkbox>
  </mat-list-item>
  <mat-list *ngFor=" let unit of lecture.units">
    <mat-list-item class = "unit">{{unit.name}}
      <span class="spacer"></span>
      <mat-checkbox class="chkbox"></mat-checkbox>
    </mat-list-item>
  </mat-list>
</mat-list>
</div>
