<h2>{{course.name}}</h2>
<ng-container *ngIf="!course.lectures.length">No lectures to download!</ng-container>
<mat-dialog-content class="layout">
  <mat-list *ngFor=" let lecture of course.lectures">
    <mat-list-item class="lecture">{{lecture.name}}
      <span class="spacer"></span>
      <mat-checkbox class="chkbox"></mat-checkbox>
    </mat-list-item>
    <mat-list *ngFor=" let unit of lecture.units">
      <mat-list-item class="unit">{{unit.name}}
        <span class="spacer"></span>
        <mat-checkbox class="chkbox"></mat-checkbox>
      </mat-list-item>
    </mat-list>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button [mat-dialog-close]="true">Yes</button>
</mat-dialog-actions>
