<mat-tab-group *ngIf="!showProgressBar" (selectedTabChange)="changedTab($event)">
  <mat-tab [label]="'common.profileDetails.uploadPicture' | translate">
    <div class="tab-content">
      <app-upload-form [uploadMethod]="'POST'"
                       [uploadPath]="uploadPath"
                       [additionalData]="null"
                       [allowedMimeTypes]="allowedMimeTypes"
                       [uploadSingleFile]="true"
                       [showPreviewImage]="true"
                       [maxFileNumber]="1"
                       (onFileUploaded)="onFileUploaded($event)"
                       (onAllUploaded)="onAllUploaded()"
      ></app-upload-form>
      <div class="upload-button-group">
        <button mat-raised-button color="primary" (click)="startUpload()" [disabled]="!isObjectInQueue()">
          <mat-icon>file_upload</mat-icon>
            {{ 'file.text.infoDropAddFiles' | translate }}
        </button>
        <button mat-raised-button (click)="cancel()">Cancel</button>
      </div>
    </div>
  </mat-tab>
  <mat-tab id="webcam-tab" [label]="'file.text.takePicture' | translate">
    <div class="tab-content">
      <div *ngIf="!isWebcamActive" class="camera">
          <div class="camera">
            <video #webcam>{{ 'file.text.noVideo' | translate }}</video>
          </div>
          <p>
            <button mat-raised-button (click)="takePicture()">{{ 'file.text.takePicture' | translate }}</button>
          </p>
      </div>
      <div class="preview">
        <h3 *ngIf="pictureTaken">Preview image</h3>
        <img #preview>
      </div>
        <button mat-raised-button color="primary" disabled="{{!pictureTaken}}" (click)="addImage()">
          <mat-icon>file_upload</mat-icon>
            {{ 'common.profileDetails.uploadPicture' | translate }}
        </button>
      <button mat-raised-button (click)="cancel()">Cancel</button>
    </div>
  </mat-tab>
</mat-tab-group>
<div *ngIf="showProgressBar">
  <h2>Uploading...</h2>
  <mat-progress-bar mode="determinate" [value]="uploader.progress"></mat-progress-bar>
  <button mat-raised-button class="btn-cancel-upload" color="warn" (click)="cancel()">
    {{ 'common.cancel' | translate }}
  </button>
</div>
