.tab-content {
  margin-top: 1rem;

  video {
    display: block;
  }
}

.btn-cancel-upload{
  margin-top: 1em;
}

.preview img, .camera video {
  width: 320px;
}
.uploadButton {
  float: left;
  margin-right: 1em;
}
