<mat-tab-group (selectChange)="changedTab($event)">
  <mat-tab label="Upload image">
    <div class="tab-content">
      <input type="file" ng2FileSelect [uploader]="uploader" placeholder="Upload picture"/>
      <button mat-raised-button color="primary" (click)="uploader.uploadAll()">Upload picture</button>
      <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    </div>
  </mat-tab>
  <mat-tab id="webcam-tab" label="Take webcam picture">
    <div class="tab-content">
      <div class="camera">
        <video #webcam>No video stream is available.</video>
      </div>
      <p>
        <button mat-raised-button color="primary" (click)="takePicture()">Take picture</button>
      </p>
      <div class="preview">
        <h3 *ngIf="pictureTaken">Preview image</h3>
        <img #preview>
      </div>
      <button mat-raised-button color="accent" (click)="addImage()">Upload picture</button>
      <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    </div>
  </mat-tab>
</mat-tab-group>
