@import "../../../../variables";
@import "../../../../styles/file-list";
.tab-content {
  margin-top: 1rem;

  video {
    display: block;
  }
}

.btn-cancel-upload{
  margin-top: 1em;
}

.preview img, .camera video {
  width: 320px;
}

.file-dropzone {
  display: table;
  height: 7.5rem;
  width: 100%;
  cursor: pointer;

  border: dotted 2px map-get($app-primary, 'default');

  &.nv-file-over {
    border-color: map-get($app-accent, 'default');
  }

  span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}
