<mat-card *ngIf="registrationDone">
  <mat-card-header>
    <mat-card-title><h1>Registration was successful</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>We have send you an activation link to your specified mail address.</p>
  </mat-card-content>
  <mat-card-actions align="start">
    <button mat-raised-button color="primary" routerLink="/" routerLinkActive="active">Back to frontpage</button>
  </mat-card-actions>
</mat-card>
<mat-card class="register-card" *ngIf="!registrationDone">
  <mat-card-header>
    <mat-card-title><h1 class="title">Register {{role}}</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form name="form" (ngSubmit)="register()" [formGroup]="registerForm">
      <div class="form-group" formGroupName="profile">
        <mat-form-field>
          <input matInput formControlName="firstName" placeholder="First name"/>
          <div *ngIf="registerForm.get('profile').get('firstName').touched">
            <small *ngIf="registerForm.get('profile').get('firstName').hasError('required')" class="text-danger">First
              name is required
            </small>
            <small *ngIf="registerForm.get('profile').get('firstName').hasError('minlength')" class="text-danger">
              Minimum length is 2
            </small>
          </div>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="lastName" placeholder="Last name"/>
          <div *ngIf="registerForm.get('profile').get('lastName').touched">
            <small *ngIf="registerForm.get('profile').get('lastName').hasError('required')" class="text-danger">Last
              name is required
            </small>
            <small *ngIf="registerForm.get('profile').get('lastName').hasError('minlength')" class="text-danger">Minimum
              length is 2
            </small>
          </div>
        </mat-form-field>
      </div>

      <mat-form-field>
        <input matInput formControlName="email" placeholder="E-Mail"/>
        <div *ngIf="registerForm.controls.email.touched">
          <small *ngIf="registerForm.controls.email.hasError('required')" class="text-danger">Email is required</small>
          <small *ngIf="mailError" class="text-danger">{{mailError}}</small>
          <small *ngIf="registerForm.controls.email.hasError('email') && !registerForm.controls.email.hasError('required')" class="text-danger">Please use an email with the
            format john@doe.com
          </small>
          <small *ngIf="registerForm.controls.email.hasError('pattern') && !registerForm.controls.email.hasError('email') && !registerForm.controls.email.hasError('required')" class="text-warning">If possible, please use you're @h-da.de email</small>
        </div>
      </mat-form-field>

      <div *ngIf="role == 'student'">
        <mat-form-field>
          <input matInput formControlName="uid" placeholder="Matriculation number"/>
          <div *ngIf="registerForm.controls.uid.touched">
            <small *ngIf="uidError" class="text-danger">{{uidError}}</small>
            <small *ngIf="registerForm.controls.uid.hasError('required')" class="text-danger">Matriculation number is
              required
            </small>
          </div>
        </mat-form-field>
      </div>

      <app-password-input [form]="registerForm"></app-password-input>

      <button mat-raised-button color="primary" type="submit" [disabled]="loading || !registerForm?.valid">Register</button>
    </form>
    <div class="div-change-role" *ngIf="role=='student'"><i class="material-icons">arrow_forward</i>Not a student? Click <a href="javascript:void(0)" (click)="changeRole('teacher')">here.</a></div>
    <div class="div-change-role" *ngIf="role=='teacher'"><i class="material-icons">arrow_back</i><a href="javascript:void(0)" (click)="changeRole('student')">Back</a> </div>
  </mat-card-content>
</mat-card>
