:host {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  width: 100%;
  max-width: 400px;

  .mat-form-field,
  .mat-radio-group {
    width: 100%;
  }

  .div-change-role {
    margin-top: 10px;
    font-size: small;
    .material-icons {
      font-size: small;
      vertical-align: middle;
    }
  }

  .privacy-label{
    white-space: normal;
  }

  .register-button{
    margin-top: 10px;
  }

  .bottom-buttons{
    margin-top: 20px;
  }
}
