<md-card *ngIf="registrationDone">
  <md-card-header>
    <md-card-title><h1>Registration was successful</h1></md-card-title>
  </md-card-header>
  <md-card-content>
    <p>We have send you an activation link to your specified mail address.</p>
  </md-card-content>
  <md-card-actions align="start">
    <button md-raised-button color="primary" routerLink="/" routerLinkActive="active">Back to frontpage</button>
  </md-card-actions>
</md-card>
<md-card class="register-card" *ngIf="!registrationDone">
  <md-card-header>
    <md-card-title><h1>Register</h1></md-card-title>
  </md-card-header>
  <md-card-content>
    <form name="form" (ngSubmit)="register()" [formGroup]="registerForm">
      <md-radio-group formControlName="role" [(ngModel)]="role" [align]="'start'">
        <md-radio-button value="student">Student</md-radio-button>
        <md-radio-button value="teacher">Teacher</md-radio-button>
      </md-radio-group>
      <div class="form-group" formGroupName="profile">
        <md-input-container>
          <input mdInput formControlName="firstName" placeholder="First name"/>
        </md-input-container>
        <md-input-container>
          <input mdInput formControlName="lastName" placeholder="Last name"/>
        </md-input-container>
      </div>

      <md-input-container>
        <input mdInput formControlName="email" placeholder="E-Mail"/>
      </md-input-container>

      <div *ngIf="role == 'student'">
        <md-input-container>
          <input mdInput formControlName="uid" placeholder="Matrikelnummer"/>
        </md-input-container>
      </div>

      <md-input-container>
        <input mdInput type="password" formControlName="password" placeholder="Password"/>
      </md-input-container>
      <md-input-container>
        <input mdInput type="password" formControlName="confirmPassword" placeholder="Confirm password"/>
        <div class="form-text error" *ngIf="registerForm.controls.confirmPassword.touched">
          <div *ngIf="registerForm.hasError('mismatchedPasswords')">Passwords do not match.</div>
        </div>
      </md-input-container>

      <button md-raised-button color="primary" type="submit" [disabled]="loading">Register</button>
    </form>
  </md-card-content>
</md-card>
