
.warning {
  color: #424242;
  padding: 10px;
}

.info {
  color: #424242;
  padding: 10px;
  background-color: #03A9F4;

}

.error {
  color: #424242;
  padding: 10px;
  background-color: #F44336;

}

.success {
 color: #424242;
  padding: 10px;
  background-color: #4CAF50;

}
