/* custom boxes */
%custombox-shared {
  color: #424242;
  padding: 10px;
}

.warning {
  @extend %custombox-shared;
  background-color: #ff8;
}

.info {
  @extend %custombox-shared;
  background-color: #03A9F4;

}

.error {
  @extend %custombox-shared;
  background-color: #F44336;

}

.success {
  @extend %custombox-shared;
  background-color: #4CAF50;

}
