&.theme2 {
  html {
    height: 100%;
    font-size: 62.5%;
    overflow-x: hidden;
  }

  body {
    counter-reset: figure;
    font-family: Helvetica, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.87);
    position: relative;
    height: 100%;
  }

  code {
    border: 1px solid #EAEAEA;
    margin: 0 2px;
    padding: 0 5px;
  }

  pre {
    border: 1px solid #CCCCCC;
    line-height: 1.25em;
    overflow: auto;
    padding: 6px 10px;
  }

  li > a {
    color: red;
    font-weight: bold;
  }

  a:hover {
    background-color: lightyellow;
    font-weight: bold;
  }

  h3 {
    color: black;
    font-family: 'Zilla Slab', Roboto, serif;
    font-size: 2.8rem;
    font-weight: 900;
    margin-top: 4rem;
    padding-bottom: 0.3em;
  }

  h2 {
    color: #128bcd;
    font-weight: 300;
    padding-bottom: 3rem;
    padding-top: 3rem;
    padding-left: 0.3rem;
    font-size: 4.0rem;
    border-top: 0.3rem solid #128bcd;
    border-bottom: 0.3rem solid #128bcd;
  }

  h1 {
    font-size: 6rem;
  }

  blockquote {
    font-style: italic;
    margin: 3em !important;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
  }

  td {
    padding: 0.5rem;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid silver;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .hints {
    background-color: #d6efff;
  }

  .hints > * {
    margin-left: 3rem;
  }

  .hints:before {
    font-family: 'Material Icons';
    content: '\e616';
    font-size: 2.4rem;
    padding-right: .6rem;
    text-shadow: .02rem .02rem white;
    padding-top: 0.6rem;
    float: left;
  }

  .learning-objectives {
    border-left: solid 0.5rem #bbbaba;
    background-color: #f5f4f4;
    box-shadow: none;
    border-radius: 0rem;
    font-size: 1.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .learning-objectives > * {
    margin-left: 3rem;
  }

  .learning-objectives:before {
    font-family: 'Material Icons';
    content: '\e8d0';
  }

  .question {
    background-color: #ffebd6;
  }

  .question > * {
    margin-left: 3rem;
  }

  .question:before {
    font-family: 'Material Icons';
    content: '\e8af';
    font-size: 2.4rem;
    padding-right: .6rem;
    text-shadow: .02rem .02rem white;
    padding-top: 1rem;
    float: left;
  }

  .assignment {
    background-color: #e0c46c;
  }

  .assignment:before {
    font-family: 'Material Icons';
    content: '\e85d';
  }

  .example {
    background-color: lightgreen;
  }

  .example:before {
    font-family: 'Material Icons';
    content: '\e895';
  }

  .success {
    background-color: lightgreen;
  }

  .success:before {
    font-family: 'Material Icons';
    content: '\e52d';
  }
}
