.markdown-wrapper.theme2 {
  font-family: Georgia, Palatino, serif;
  color: #333333;

  line-height: 1;
  padding: 30px;
  font-size: 18px;
}

.markdown-wrapper.theme2 p {
  line-height: 150%;
  font-weight: 400;
  color: #333333;
}

.markdown-wrapper.theme2 h1, .markdown-wrapper.theme2 h2, .markdown-wrapper.theme2 h3, .markdown-wrapper.theme2 h4 {
  color: #111111;
  font-weight: 400;
}

.markdown-wrapper.theme2 h2, .markdown-wrapper.theme2 h3, .markdown-wrapper.theme2 h4, .markdown-wrapper.theme2 h5, .markdown-wrapper.theme2 p {
  margin-bottom: 25px;
  padding: 0;
}

.markdown-wrapper.theme2 h1 {
  margin-bottom: 10px;
  font-size: 300%;
  padding: 0px;
  font-variant: small-caps;
}

.markdown-wrapper.theme2 h2 {
  font-size: 150%;
  margin: 24px 0 6px;
}

.markdown-wrapper.theme2 h3 {
  font-size: 120%;
}

.markdown-wrapper.theme2 h4 {
  font-size: 100%;
  font-variant: small-caps;
}

.markdown-wrapper.theme2 h5 {
  font-size: 80%;
  font-weight: 100;
}

.markdown-wrapper.theme2 h6 {
  font-size: 80%;
  font-weight: 100;
  color: red;
  font-variant: small-caps;
}

.markdown-wrapper.theme2 a {
  color: grey;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.markdown-wrapper.theme2 a:hover {
  text-decoration: blink;
  color: green;
}

.markdown-wrapper.theme2 a:visited {
  color: black;
}

.markdown-wrapper.theme2 ul, .markdown-wrapper.theme2 ol {
  padding: 0;
  margin: 0px 0px 0px 50px;
}

.markdown-wrapper.theme2 ul {
  list-style-type: square;
  list-style-position: inside;
}

.markdown-wrapper.theme2 li {
  line-height: 150%;
}

.markdown-wrapper.theme2 li ul, .markdown-wrapper.theme2 li ul {
  margin-left: 24px;
}

.markdown-wrapper.theme2 pre {
  padding: 0px 24px;
  max-width: 800px;
  white-space: pre-wrap;
}

.markdown-wrapper.theme2 code {
  font-family: Consolas, Monaco, Andale Mono, monospace;
  line-height: 1.5;
  font-size: 13px;
}

.markdown-wrapper.theme2 aside {
  display: block;
  float: right;
  width: 390px;
}

.markdown-wrapper.theme2 blockquote {
  border-left: .5em solid #eee;
  padding: 0 1em;
  margin-left: 0;
}

.markdown-wrapper.theme2 blockquote cite {
  font-size: 14px;
  line-height: 20px;
  color: #bfbfbf;
}

.markdown-wrapper.theme2 blockquote cite:before {
  content: '\2014 \00A0';
}

.markdown-wrapper.theme2 blockquote p {
  color: #666;
  max-width: 460px;
}

.markdown-wrapper.theme2 hr {
  text-align: left;
  margin: 0 auto 0 0;
  color: #999;
}

.markdown-wrapper.theme2 .warning, .markdown-wrapper.theme2 .info, .markdown-wrapper.theme2 .error, .markdown-wrapper.theme2 .success {
  padding: 10px;
}

.markdown-wrapper.theme2 .warning {
  background-color: #ff8;
}
