<div class="code-kata-unit-form">
  <strong>Code-Kata</strong>
  <ace-editor
    #definitionEditor
    [(text)]="codeKata.definition"
    [mode]="'Javascript'"
    [readOnly]="true">
  </ace-editor>
  <div>Your code goes here:</div>
  <ace-editor class="user-code-editor"
              #codeEditor
              [(text)]="codeKata.code || progress.code"
              [mode]="'Javascript'"
              [readOnly]="isExampleCode">
  </ace-editor>
  <div>These tests need to success:</div>
  <ace-editor
    #testEditor
    [(text)]="codeKata.test"
    [mode]="'Javascript'"
    [readOnly]="true">
  </ace-editor>

  <div *ngIf="!isExampleCode">
    <button md-button (click)="validate()">Validate</button>
    <button md-button color="primary" class="submit-progress" (click)="submitProgress()">Submit</button>
  </div>
  <div>{{logs}}</div>
</div>
