<h2>Dependencies / Licenses</h2>

<h3>WebFrontend
  <small><span class="badge">{{allFrontendDependencies?.length}}</span></small>
</h3>
<p *ngIf="isFrontendDependenciesEmpty()">No Dependencies found...</p>
<mat-list>
  <mat-list-item *ngFor="let dep of allFrontendDependencies;">
    <mat-icon mat-list-icon>folder</mat-icon>
    <h3 matLine>{{dep.name}}
      <small>{{dep.version}}</small>
    </h3>
    <p matLine>License: {{dep.license}} <i *ngIf="dep.devDependency">
      <small> devDependency</small>
    </i></p>
  </mat-list-item>
</mat-list>

<h3>API
  <small><span class="badge">{{allApiDependencies?.length}}</span></small>
</h3>
<p *ngIf="isApiDependenciesEmpty()">No Dependencies found...</p>
<mat-list>
  <mat-list-item *ngFor="let dep of allApiDependencies;">
    <mat-icon mat-list-icon>folder</mat-icon>
    <h3 matLine>{{dep.name}}
      <small>{{dep.version}}</small>
    </h3>
    <p matLine>License: {{dep.license}} <i *ngIf="dep.devDependency">
      <small> devDependency</small>
    </i></p>
  </mat-list-item>
</mat-list>
