<app-course-container [title]="'My Courses'" [courses]="myCourses" [expand]="true" (onEnroll)="enrollCallback()"></app-course-container>
<app-course-container [title]="'Available Courses'" [courses]="ACourses" [expand]="false" (onEnroll)="enrollCallback()"></app-course-container>

<a mat-fab *ngIf="userService.isTeacher() || userService.isAdmin()" class="add-course-fab"
   routerLink="course/new" matTooltip="Add course" matTooltipPosition="left">
  <mat-icon>add</mat-icon>
</a>

<!--<app-dashboard-student *ngIf="this.userService.isStudent()"></app-dashboard-student>-->
<!--<app-dashboard-teacher *ngIf="this.userService.isTeacher()"></app-dashboard-teacher>-->
<!--<app-dashboard-admin *ngIf="this.userService.isAdmin()"></app-dashboard-admin>-->

