.courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.course-card {
  width: 400px;
  margin-right: 20px;

  .details-button {
    float: right;
  }
}

.add-course-fab {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
