<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>E-Mail</th>
    <th>Role</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of allUsers; let i = index;">
    <td><a [routerLink]="['/profile', user._id]">{{user.profile.firstName}} {{user.profile.lastName}}</a></td>
    <td>{{user.email}}</td>
    <td>
      <mat-select [(ngModel)]="user.role" name="role" (change)="updateRole(i)">
        <mat-option *ngFor="let role of availableRoles" [value]="role">
          {{role}}
        </mat-option>
      </mat-select>
    </td>
    <td>
      <button mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteUser(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>
