<h2>{{ 'common.users' | translate }}</h2>
<table class="table">
  <thead>
  <tr>
    <th>{{ 'common.name' | translate }}</th>
    <th>{{ 'common.email' | translate }}</th>
    <th>{{ 'common.role' | translate}}</th>
    <th>{{ 'common.actions' | translate }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of allUsers; let i = index;">
    <td><a [routerLink]="['/profile', user._id]">{{user.profile.firstName}} {{user.profile.lastName}}</a></td>
    <td>{{user.email}}</td>
    <td>
      <mat-select disabled="{{ userService.user._id === user._id }}" [(ngModel)]="user.role" name="role" (selectionChange)="updateRole(i)">
        <mat-option *ngFor="let role of availableRoles" [value]="role">
          {{role}}
        </mat-option>
      </mat-select>
    </td>
    <td>
      <button [matTooltip]="'user.editUser' | translate" mat-icon-button (click)="editUser(i)">
        <mat-icon>edit</mat-icon>
      </button>
      <button [matTooltip]="'user.deleteUser' | translate" mat-icon-button (click)="deleteUser(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>
