<div class="flex-container">
  <div>
    <form class="course-form" (ngSubmit)="createCourse()">
      <mat-form-field>
        <input async matInput id="name" [placeholder]="'common.name' | translate" [(ngModel)]="course"
               [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea matInput id="description" [placeholder]="'common.description' | translate" [(ngModel)]="description"
                  [ngModelOptions]="{standalone: true}"></textarea>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select name="courseTypes" [placeholder]="'course.text.selectAccessType' | translate" id="courseTypes" [(ngModel)]="enrollType">
          <mat-option *ngFor="let enrollType of enrollTypes" [value]="enrollType">{{'course.text.selectAccessTypes.' + enrollType | translate}}</mat-option>
        </mat-select><br>
      </mat-form-field>

  <p *ngIf="enrollType === enrollTypeConstants.ENROLL_TYPE_FREE">
    {{ 'course.text.isFreeForEveryone' | translate }}
  </p>

      <mat-form-field class="full-width" *ngIf="enrollType === enrollTypeConstants.ENROLL_TYPE_ACCESSKEY">
        <input async matInput id="accessKey" [placeholder]="'course.placeholder.accessKey' | translate" [(ngModel)]="accessKey"
               [ngModelOptions]="{standalone: true}">
        <mat-hint>{{ 'course.text.enterAccessKeyForStudents' | translate }}</mat-hint>
      </mat-form-field>

  <div class="csv-upload" *ngIf="enrollType === enrollTypeConstants.ENROLL_TYPE_WHITELIST">
    <p>{{ 'course.text.uploadWhitelist' | translate }}</p>
    <p>
      <button mat-raised-button (click)="openWhitelistDialog()" type="button">{{ 'course.text.openWhitelistDialog' | translate }}</button>

    </p>

  </div>

      <mat-form-field class="full-width">
        <mat-select name="courseFreeTextTemplate" [placeholder]="'course.placeholder.freeTextTheme' | translate" id="courseFreeTextTemplate"
                    [(ngModel)]="freeTextStyle">
          <mat-option *ngFor="let textStyle of freeTextStyles" [value]="textStyle">{{'course.text.selectFreeTextTheme.' + textStyle | translate}}
          </mat-option>
        </mat-select>
        <br>
      </mat-form-field>

      <p>
        <mat-slide-toggle (change)="onChangeActive($event)" [checked]="active">
          <span *ngIf="active">{{ 'course.text.canSeenByStudents' | translate }}</span>
          <span *ngIf="!active">{{ 'course.text.canNotSeenByStudents' | translate }}</span>
        </mat-slide-toggle>
      </p>
      <p>
        <app-button-save-cancel (cancel)="cancel()"></app-button-save-cancel>
        <button mat-raised-button (click)="onExport()" type="button">{{ 'common.export' | translate }}</button>
        <button mat-raised-button (click)="onDuplicate()" type="button">{{ 'common.duplicate' | translate }}</button>
      </p>
    </form>
    <button mat-raised-button color="warn" (click)= "deleteCourse()">{{ 'course.delete' | translate }}</button>

  </div>

  <div class="course-image-upload">
    <div class="course-image">
      <app-responsive-image *ngIf="this.courseImageData" [responsiveImageData]="this.courseImageData"></app-responsive-image>
      <img *ngIf="!this.courseImageData" src="/assets/course-header-image.jpg">
    </div>

    <div>
      <button *ngIf="this.courseImageData" mat-raised-button color="red" class="mat-button" (click)="removeCoursePicture()">{{ 'common.delete' | translate }}</button>
      <button mat-raised-button color="primary" class="mat-button" (click)="openImageChooserDialog()">{{ 'course.uploadImage' | translate }}</button>
    </div>
  </div>
</div>

