@import '../../../../variables';

.flex-container {
  display: flex;
  flex-direction: column-reverse;

  @include bp(md) {
    flex-direction: row;
  }
}

.course-image-upload {
  padding: 10px 0;

  .course-image img {
    max-width: 284px;
    height: auto;
  }

  @include bp(md) {
    padding: 0 10px;
  }
}

.course-form {
  max-width: 700px;
}

.csv-upload {
  margin-bottom: 2em;
}

.upload {
  min-width: 250px;
  width: 100%;

  + button {
    margin-top: 10px;
  }

  @include bp(sm) {
    width: auto;

    + button {
      margin-top: 0;
    }
  }
}

.mat-form-field {
  width: 100%;

  @include bp(md) {
    width: 60%;
  }
}

.mat-raised-button {
    margin-top: 7px;
}
