.infoBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 400px;
  width: 100%;
  margin-top: 8em;

  .icon {
    justify-content: center;
    background-color: white;
    font-size: 80px;
    margin-right: 0.5em;
  }
}
