<div #units *ngFor="let unit of units">
  <mat-card class="unit-card">
    <button mat-icon-button *ngIf="unit.visible === false" disabled>
      <mat-icon color="warn">visibility_off</mat-icon>
    </button>
    <mat-card-subtitle
      *ngIf="unit.progressable && unit.deadline"
      class="deadline"
    >
      {{'unit.text.deadline' | translate }}:  {{getFormattedDeadline(unit.deadline)}}
    </mat-card-subtitle>
    <mat-card-title class="unit-card-title">
      {{unit.name}}
    </mat-card-title>
    <mat-card-subtitle class="unit-card-subtitle">
      {{unit.description}}
    </mat-card-subtitle>

    <div  id={{unit._id}}></div>
    <mat-card-content [ngSwitch]="unit.__t">
      <app-video-unit *ngSwitchCase="'video'" [videoUnit]="unit"></app-video-unit>
      <app-file-unit *ngSwitchCase="'file'" [fileUnit]="unit"></app-file-unit>
      <app-task-unit *ngSwitchCase="'task'" [taskUnit]="unit"></app-task-unit>
      <app-code-kata *ngSwitchCase="'code-kata'" [codeKataUnit]="unit"></app-code-kata>
      <app-free-text-unit *ngSwitchCase="'free-text'" [theme]="course?.freeTextStyle"  [freeTextUnit]="unit"></app-free-text-unit>
      <div class="unit-detail">
        <span>{{chatMessageCount[unit._id]}}</span>
        <button mat-icon-button appShowComments [room]="unit.chatRoom" [title]="unit.name">
          <mat-icon aria-label="comments">forum</mat-icon>
        </button>
        <span class="user-detail" *ngIf="unit.unitCreator">{{unit.unitCreator.profile.firstName + ' ' +
          unit.unitCreator.profile.lastName}}
        </span>
        <span *ngIf="unit.createdAt === unit.updatedAt">{{ 'unit.text.publishedOn' | translate }}: {{getFormattedDate(unit.createdAt)}}</span>
        <span *ngIf="unit.createdAt !== unit.updatedAt">{{ 'unit.text.changedOn' | translate }}: {{getFormattedDate(unit.updatedAt)}}</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
