.unit-card {
  margin-bottom: 14px;
  padding: 20px;
  position: relative;
}

.unit-card-title {
  font-size: medium;
}

.unit-card-subtitle {
  font-size: small;
}

.deadline {
  float: right;
}

.orange {
  color: #FF9800;
}

.red {
  color: #F44336
}

.unit-detail {
  font-size: 8pt;
  margin-top: 0.2em;
  text-align: right;
  color: #949699;
}


.btn-wrapper {
  padding-top: 1em;
}
