.card {
  margin-top: 50px;
  margin-left: 50px;
  width: 400px;
  margin-bottom: 30px;
  background-color: whitesmoke;
}

.shadowCard {
  box-shadow: 10px 10px 5px  #888888;
  background-color: #fafafa;
}
