<h1>{{ 'common.administration' | translate }}</h1>
<mat-toolbar>
  <mat-toolbar-row>
    <button mat-button routerLink="/admin/users">
      <span>{{ 'common.users' | translate }}</span>
    </button>
    <button [routerLink]="['/admin/markdownEdit']" [queryParams]="{type: 'imprint', header: 'Imprint'}" mat-button>
      <span>{{ 'common.imprint' | translate }}</span>
    </button>
    <button mat-button [routerLink]="['/admin/markdownEdit']" [queryParams]="{type: 'infoBox', header: 'InfoBox'}">
      <span>{{ 'common.infobox' | translate }}</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="admin-container">
  <router-outlet></router-outlet>
</div>
