<h1>Administration</h1>
<mat-toolbar>
  <mat-toolbar-row>
    <button mat-button routerLink="/admin/users">
      <span>Users</span>
    </button>
    <button [routerLink]="['/admin/markdownEdit']" [queryParams]="{type: 'imprint', header: 'Imprint'}" mat-button>
      <span>Imprint</span>
    </button>
    <button mat-button [routerLink]="['/admin/markdownEdit']" [queryParams]="{type: 'infoBox', header: 'InfoBox'}">
      <span>InfoBox</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="admin-container">
  <router-outlet></router-outlet>
</div>
