@import '../../../variables';

.progress-container {
  border-bottom: 1px solid map-get($mat-grey, 300);
  padding: 1rem;
  display: block;

  .profile {
    width: 25%;

    .user-icon {
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      background-size: cover;
      border-radius: 1.25rem;
      vertical-align: middle;
    }

    .name {
      display: inline-block;
      vertical-align: middle;
      padding-left: 1rem;
    }

    .user-data {
      margin-bottom: 1rem;
    }
  }

  .progress-bar {
    float: right;
    vertical-align: top;
    padding-top: 1rem;

    .progress-text {
      display: block;
      text-align: right;
    }
  }

  .content {
    width: 100%;
  }
}
