<!--STUDENT VIEW-->
<ng-container *ngIf="this.userService.isStudent()">
    <ng-container *ngIf="this.showUploadForm.getValue()" [formGroup]="unitForm">
        <app-upload-form [uploadMethod]="'POST'"
                         [uploadPath]="uploadPath"
                         [additionalData]="null"
                         [allowedMimeTypes]="allowedMimeTypes"
                         [uploadSingleFile]="true"
                         [maxFileNumber]="1"
                         (onFileUploaded)="onFileUploaded($event)"
                         (onAllUploaded)="onAllUploaded()"
        ></app-upload-form>
        <div class="upload-button-group">
            <button mat-raised-button color="primary" (click)="startUpload()" [disabled]="!isObjectInQueue()">
                <mat-icon>file_upload</mat-icon>
                {{ 'file.text.infoDropAddFiles' | translate }}
            </button>
        </div>
    </ng-container>
    <ng-container *ngIf="!this.showUploadForm.getValue()">
        <div class="assignment-status-group">
            <ng-container *ngIf="this.file !== null"><a href="{{ '/api/uploads/' + this.file.link }}"
                                                        download="{{this.file.name}}">{{this.file.name}}</a>
            </ng-container>
            <span class="status-group" *ngIf="readyForGreating()">Status: <mat-icon id="{{assignmentIcon}}">{{assignmentIcon}}</mat-icon></span>
        </div>
        <div class="submit-button-group">
            <button *ngIf="!isSubmited()" mat-raised-button color="primary" (click)="submitAssignment()">{{
                'unit.submitAss'
                | translate }}
            </button>
            <button class="delete-button" *ngIf="!isSubmited()" mat-raised-button color="warn"
                    (click)="deleteAssignment()"
                    matTooltip="{{'unit.deleteAssignment' | translate}}">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </ng-container>
</ng-container>

<!--TEACHER VIEW-->
<ng-container *ngIf="this.userService.isTeacher()">
  <button mat-raised-button color="primary" [disabled]="this.disableDownloadButton" (click)="downloadAllAssignments()">Download all</button>
  <ng-container *ngIf="disableDownloadButton">
    <mat-spinner [diameter]=20 [strokeWidth]=2 class="spinner"></mat-spinner>
  </ng-container>
    <table>
        <tr class="heading-row">
            <td>Student</td>
            <td>File</td>
            <td>Status</td>
        </tr>
        <tr class="content-row" *ngFor="let unit of this.assignmentUnit.assignments;">
            <td class="{{!unit.submitted ? 'not-submitted' : ''}}">{{unit.user.profile.firstName}}
                {{unit.user.profile.lastName}}
            </td>
            <td class="{{!unit.submitted ? 'not-submitted' : ''}}"><a href="{{ '/api/uploads/' + unit.file.link }}"
                                                                      download="{{unit.file.name}}">{{unit.file.name}}</a>
            </td>
            <td *ngIf="unit.submitted; else notSubmitted">
                <mat-form-field>
                    <mat-select placeholder="Status" value="{{unit.checked}}">
                        <mat-option (click)="submitStatusChange(unit._id, -1)" value={{-1}}>Open</mat-option>
                        <mat-option (click)="submitStatusChange(unit._id, 0)" value={{0}}>Failed</mat-option>
                        <mat-option (click)="submitStatusChange(unit._id, 1)" value={{1}}>Accpected</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <ng-template #notSubmitted>
                <td class="{{!unit.submitted ? 'not-submitted' : ''}}">
                    Not submitted yet.
                </td>
            </ng-template>
        </tr>
    </table>

</ng-container>


