<ng-container *ngIf="!canBeDeleted()" [formGroup]="unitForm">
    <app-upload-form [uploadMethod]="'POST'"
                     [uploadPath]="uploadPath"
                     [additionalData]="null"
                     [allowedMimeTypes]="allowedMimeTypes"
                     [uploadSingleFile]="true"
                     [maxFileNumber]="1"
                     (onFileUploaded)="onFileUploaded($event)"
                     (onAllUploaded)="onAllUploaded()"
    ></app-upload-form>
    <div class="upload-button-group">
        <button mat-raised-button color="primary" (click)="startUpload()" [disabled]="!isObjectInQueue()">
            <mat-icon>file_upload</mat-icon>
            {{ 'file.text.infoDropAddFiles' | translate }}
        </button>
        <button mat-raised-button (click)="cancel()">Cancel</button>
    </div>
</ng-container>
<ng-container *ngIf="this.file !== null"><a href="{{ '/api/uploads/' + this.file.link }}" download="{{this.file.name}}">{{this.file.name}}</a></ng-container> <span *ngIf="isSubmited()"><mat-icon>assignment_turned_in</mat-icon></span>
<button *ngIf="!isSubmited()" mat-raised-button color="primary" (click)="submitAssignment()" >{{ 'unit.submitAss' | translate }}</button>
<button *ngIf="!isSubmited()" mat-raised-button color="warn" (click)="deleteAssignment()" matTooltip="{{'unit.deleteAssignment' | translate}}">
  <mat-icon>delete</mat-icon>
</button>
