<h2>{{ 'auth.changePassword' | translate }}</h2>
<form name="form" [formGroup]="pwForm">
  <ng-container *ngIf="isSameUser()">
    <mat-form-field class="full-width">
     <input matInput type="password" formControlName="currentPassword" [placeholder]="'auth.tooltip.currentPassword' | translate"/>
    </mat-form-field>
  </ng-container>
  <app-password-input [form]="pwForm"></app-password-input>
  <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" [disabled]="!pwForm?.valid">{{ 'common.save' | translate }}</button>
  <button mat-raised-button (click)="cancel()">{{ 'common.cancel' | translate }}</button>
</form>

