<h2>Change Password</h2>
<form name="form" (ngSubmit)="onSubmit()" [formGroup]="pwForm">
  <ng-container *ngIf="isSameUser()">
    <mat-form-field class="full-width">
     <input matInput type="password" formControlName="currentPassword" placeholder="current Password"/>
    </mat-form-field>
  </ng-container>
  <app-password-input [form]="pwForm"></app-password-input>
  <button mat-raised-button color="primary" type="submit" [disabled]="!pwForm?.valid">Save</button>
  <button mat-raised-button (click)="cancel()">Cancel</button>
</form>

