<div [formGroup]="form">
  <mat-form-field>
    <input matInput type="password" formControlName="password"
           [placeholder]="'common.password'|translate"/>
    <div *ngIf="form.controls.password.touched">
      <small *ngIf="form.controls.password.hasError('required')" class="text-danger">
        {{'common.validation.required'|translate}}
      </small>
      <small *ngIf="form.controls.password.hasError('pattern')" class="text-danger">
        {{'common.validation.password'|translate}}
      </small>
    </div>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" formControlName="confirmPassword"
           [placeholder]="'auth.confirmPassword'|translate"/>
    <div *ngIf="form.controls.confirmPassword.touched">
      <small *ngIf="form.hasError('mismatchedPasswords')" class="text-danger">
        {{'common.validation.passwordsMatch'|translate}}
      </small>
    </div>
  </mat-form-field>
</div>
