<div [formGroup]="form">
  <mat-form-field>
    <input matInput type="password" formControlName="password" placeholder="Password"/>
    <div *ngIf="form.controls.password.touched">
      <small *ngIf="form.controls.password.hasError('required')" class="text-danger">Password is required</small>
      <small *ngIf="form.controls.password.hasError('pattern')" class="text-danger">{{passwordPatternText}}</small>
    </div>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm password"/>
    <div *ngIf="form.controls.confirmPassword.touched">
      <small *ngIf="form.hasError('mismatchedPasswords')" class="text-danger">Passwords do not match.</small>
    </div>
  </mat-form-field>
</div>
