<div class="user-profile-dialog-wrapper">
  <div class="profile" *ngIf="user">
    <span class="user-icon" user-image [user-image]="user" [size]="50"></span>
    <h2 class="name">
      <span>{{user.profile.firstName}} {{user.profile.lastName}}</span>
    </h2>
    <div class="user-data">
      <div><strong>{{ 'common.email' | translate }}: </strong><a href="mailto:{{user.email}}">{{user.email}}</a></div>
      <div *ngIf="canSeeUid()">
          <strong>{{ 'common.profileDetails.uid' | translate }}: </strong>{{user.uid}}
      </div>
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="dialogRef.close(true)">{{ 'common.close' | translate }}</button>
</div>
