@import '../../../variables';

$grayBackground: #323232;
$buttonColor: #ff4081;
$linkColor: #ff4081;
$fontColor: white;

.cookieNotice {
  display: inline-block;
  padding: 5px;
  width: 100%;
  background-color: $grayBackground;
  color: $fontColor;
  font-family: $font-body;
  font-size: 14px;
  line-height: unset;
  margin-bottom: -10px;

  p {
    float: left;
    padding: 0 10px 0 10px;
    margin-bottom: 0;
    margin-top: 12px;
  }
}

.cookieContent {
  display: inline-block;
  width: 100%;

  @media screen and (min-width: 121em) {
    width: 84%;
    margin: 0 8%;

    @media screen and (min-width: 160em) {
      width: 72%;
      margin: 0 14%;
    }
  }
}

.controlArea {
  float: right;
  margin-right: 32px;

  a {
    color: $linkColor !important;
    padding: 14px 10px 0 10px;
    text-decoration: none;
  }

  button {
    background-color: $buttonColor;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
  }
}


