@import '../../../variables';

$grayBackground: #323232;
$buttonColor: #ff4081;
$fontColor: white;

.cookieNotice {
  display: inline-block;
  width: 100%;
  padding: 5px;
  background-color: $grayBackground;
  color: white;
  font-family: $font-body;
  font-size: 14px;
  line-height: unset;
  margin-bottom: -10px;

  p {
    float: left;
    padding: 0 10px 0 10px;
    margin-bottom: 0;
  }
}

.controlArea {
  float: right;
}

.cookieNotice .controlArea {
  a {
    color: $fontColor;
    padding: 14px 10px 0 10px;
    text-decoration: underline;
  }

  button {
    border: 2px solid $buttonColor;
    background-color: $grayBackground;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
  }
}



