<md-card>
  <p>Number of users: </p>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>E-Mail</th>
      <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of allUsers; let i = index;">
      <td>{{user._id}}</td>
      <td>{{user.email}}</td>
      <td>
        <md-select [(ngModel)]="user.role" name="role" (change)="updateRole(i)">
          <md-option *ngFor="let role of availableRoles" [value]="role">
            {{role}}
          </md-option>
        </md-select>
      </td>
    </tr>
    </tbody>
  </table>
</md-card>
