<mat-list class="drop" [dragula]='dragulaBagId' [dragulaModel]="dragUsers">
  <ng-container *ngIf="show">
    <div *ngFor="let user of dragUsers">
      <mat-list-item class="list" [attr.item-id]="user._id">
        <mat-icon class="user-drag-handle">drag_handle</mat-icon>
        <span class="firstName">{{user.firstName}}</span>
        <span class="lastName">{{user.lastName}}</span>
        <span class="uid">{{user.uid}}</span>
        <button>remo</button>
      </mat-list-item>
    </div>
  </ng-container>
</mat-list>
