<mat-list class="drop" *ngIf="show">
    <div *ngFor="let user of course.whitelist">
      <mat-list-item class="list" [attr.item-id]="user._id">
        <span class="firstName">{{user.firstName}}</span>
        <span class="lastName">{{user.lastName}}</span>
        <span class="uid">{{user.uid}}</span>
        <!-- TODO Comment in and implement edit button -->
        <!-- <button mat-icon-button disabled>
          <mat-icon>edit</mat-icon>
        </button> -->
        <button mat-icon-button [matTooltip]="'user.deleteUser' | translate" (click)="remove(user)">
          <mat-icon>delete</mat-icon>
        </button>
        <i  *ngIf="isSignedIn(user) && !isInCourse(user)" class="material-icons green" matTooltip="'user.text.SignedIn' | translate">done</i>
        <i  *ngIf="!isSignedIn(user) && !isInCourse(user)" class="material-icons red" matTooltip="'user.text.NotSignedIn' | translate">clear</i>
        <i *ngIf="isInCourse(user)" class="material-icons green" matTooltip="'course.text.InCourse' | translate">done_all</i>
      </mat-list-item>
    </div>
</mat-list>
