<mat-list class="drop" [dragula]='dragulaBagId' [dragulaModel]="dragUsers" [attr.item-id]="fieldId">
  <ng-container *ngIf="show">
    <div *ngFor="let user of dragUsers">
      <mat-list-item class="list" [attr.item-id]="user._id">
        <mat-icon class="user-drag-handle">drag_handle</mat-icon>
        <span class="firstName">{{user.firstName}}</span>
        <span class="lastName">{{user.lastName}}</span>
        <span class="uid">{{user.uid}}</span>
        <button mat-icon-button>
          <mat-icon>mode edit</mat-icon>
        </button>
        <button mat-icon-button (click)="remove(user)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </div>
  </ng-container>
</mat-list>
