<div class="profile" *ngIf="user">
  <span class="user-icon" user-image [user-image]="user" [size]="50"></span>
  <h3 class="name">
    <a *ngIf="!isCurrentProfile()" [routerLink]="['/profile', user._id]" routerLinkActive="active">
      <span>{{user.profile.firstName}} {{user.profile.lastName}}</span>
    </a>
    <span *ngIf="isCurrentProfile()">{{user.profile.firstName}} {{user.profile.lastName}}</span>
  </h3>
  <div class="user-data">
    <span><strong>E-Mail:</strong> <a href="mailto:{{user.email}}">{{user.email}}</a></span>
    <span *ngIf="canSeeUid()">
      <strong>Matrikelnummer:</strong> {{user.uid}}
    </span>
  </div>
</div>
