@import "../../../variables";

.profile {
  .user-icon {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background-size: cover;
    border-radius: 1.25rem;
    vertical-align: middle;
  }

  .name {
    display: inline-block;
    vertical-align: middle;
    padding-left: 1rem;
  }

  .user-data {
    margin-bottom: 1rem;

    span {
      display: block;
    }
  }
}
