<div class="task-unit-edit">
  <strong>Tasks</strong>

  <app-unit-general-info-form [model]="model"></app-unit-general-info-form>

  <div class="info-text">
    <mat-icon>info</mat-icon>
    Add questions with any number of possible answers. Mark the correct answer(s) with the checkbox.
  </div>

  <div *ngFor="let task of model.tasks" class="question-answer">

    <mat-form-field matLine class="question">
      <textarea matInput id="name" placeholder="Enter question here" [(ngModel)]="task.name"></textarea>
    </mat-form-field>

    <div class="actions">
      <button mat-button (click)="updateTask(task)">UPDATE</button>
      <button mat-button (click)="removeTask(task)">DELETE</button>
    </div>

    <div matLine class="answers">
      <div class="answer" *ngFor="let answer of task.answers; let idx = index;">
        <div class="check-answer">
          <mat-checkbox [(ngModel)]="answer.value" name="value_{{idx}}"></mat-checkbox>
          <mat-form-field>
            <input matInput placeholder="Enter answer here" [(ngModel)]="answer.text">
          </mat-form-field>
        </div>
      </div>
      <button mat-icon-button (click)="addAnswerAtEnd(task)" matTooltip="Add answer" matTooltipPosition="right">
        <mat-icon color="accent">add</mat-icon>
      </button>
      <button mat-icon-button (click)="removeLastAnswer(task)" matTooltip="Remove last answer" matTooltipPosition="right">
        <mat-icon>remove</mat-icon>
      </button>
    </div>

  </div>

  <mat-toolbar class="bottom-toolbar">
    <mat-toolbar-row>
      <button mat-button (click)="onCancel()" type="reset">Cancel</button>
      <button mat-button color="primary" class="add-unit" (click)="saveUnit()" type="submit">Save</button>
      <span class="toolbar-fill"></span>
      <button mat-mini-fab (click)="addTask()" matTooltip="Add task" matTooltipPosition="right">
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
