@import '../../../../variables';

.question-answer {
  border-top: 1px dashed map-get($mat-grey, 300);
  margin-top: 1rem;
  padding-top: 1rem;
  clear: both;

  .question {
    width: 100%;

    @include bp(md) {
      width: 60%;
    }
  }

  .answers {
    padding: 1rem;
    background-color: map-get($mat-grey, 100);
  }

  .answer {
    width: 100%;
    display: inline-block;
    padding-right: 1rem;

    .check-answer {
      width: 100%;
      display: flex;

      .mat-checkbox {
        //margin-left: 14px;
        margin-right: 6px;
        margin-top: 18px;
      }
      .mat-form-field {
        flex-grow: 1;
      }
    }

    @include bp(md) {
      width: 50%;
    }

    @include bp(xl) {
      width: 33.33%;
    }
  }
}
