<div class="chat-container">
  <div class="messages" #msgs  [scrollTop]="(mode === 'chat')? msgs.scrollHeight : 0"
       infiniteScroll
       [infiniteScrollDistance]="3"
       (scrolled)="onScrollDown($event)"
       (scrolledUp)="onScrollUp($event)"
       [scrollWindow]="false"
       [infiniteScrollDisabled]="disableInfiniteScroll">
    <ul *ngFor="let message of messages">
      <app-message [message]="message" [mode]="mode" [chatName]="chatName"></app-message>
    </ul>
  </div>
  <div class="chat-footer-container">
      <app-messaging-input-field [room]="room" [chatName]="chatName"></app-messaging-input-field>
  </div>
</div>
