<div class="code-kata-unit-form" *ngIf="codeKataUnit">
  <strong>Code-Kata</strong>
  <ace-editor
    #definitionEditor
    [text]="codeKataUnit.definition"
    [mode]="'markdown'"
    [theme]="'github'"
    [readOnly]="true">
  </ace-editor>
  <div *ngIf="!isExampleCode">{{ 'code-kata.text.codeHere' | translate }}:</div>
  <div *ngIf="isExampleCode">{{ 'code-kata.text.codeExample' | translate }}:</div>
  <ace-editor class="user-code-editor"
              #codeEditor
              [(text)]="codeKataUnit.code"
              [mode]="'markdown'"
              [theme]="'github'"
              [readOnly]="isExampleCode"
              [durationBeforeCallback]="333"
              (textChanged)="onUserInput()">
  </ace-editor>
  <div>{{ 'code-kata.text.mustSucceed' | translate }}:</div>
  <ace-editor
    #testEditor
    [text]="codeKataUnit.test"
    [mode]="'markdown'"
    [theme]="'github'"
    [readOnly]="true">
  </ace-editor>

  <div *ngIf="!isExampleCode">
    <button mat-raised-button (click)="validate()">{{ 'common.validate' | translate }}</button>
    <button mat-raised-button [disabled]="deadlineIsOver" color="primary" class="submit-progress" (click)="submitProgress()">{{ 'common.submit' | translate }}</button>
  </div>
  <div *ngIf="logs!==undefined" class="logs-title">
    Logs:
    <pre>{{logs}}</pre>
  </div>
</div>
