<div class="code-kata-unit-form" *ngIf="codeKataUnit">
  <strong>Code-Kata</strong>
  <ace-editor
    #definitionEditor
    [(text)]="codeKataUnit.definition"
    [mode]="'javascript'"
    [theme]="'github'"
    [readOnly]="true">
  </ace-editor>
  <div *ngIf="!isExampleCode">Your code goes here:</div>
  <div *ngIf="isExampleCode">This is the provided example solution:</div>
  <ace-editor class="user-code-editor"
              #codeEditor
              [(text)]="codeKataUnit.code || progress.code"
              [mode]="'javascript'"
              [theme]="'github'"
              [readOnly]="isExampleCode"
              [durationBeforeCallback]="333"
              (textChanged)="onUserInput()">
  </ace-editor>
  <div>These tests need to success:</div>
  <ace-editor
    #testEditor
    [(text)]="codeKataUnit.test"
    [mode]="'javascript'"
    [theme]="'github'"
    [readOnly]="true">
  </ace-editor>

  <div *ngIf="!isExampleCode">
    <button mat-raised-button (click)="validate()">Validate</button>
    <button mat-raised-button color="primary" class="submit-progress" (click)="submitProgress()">Submit</button>
  </div>
  <div *ngIf="logs!==undefined" class="logs-title">
    Logs:
    <pre>{{logs}}</pre>
  </div>
</div>
