.layout-column {
  float: left;
  margin-left: 50px;
  width: 225px;
}

.filter-size:first-child {
  margin-top: 50px;
}

.drop {
  min-height: 60px;
  background-color: #fafafa;
}

.list {
  height: 60px;
  padding: 10px;
  background-color: #ffffff;
}

.list:hover {
  background-color: #fafafa;
}

.listBg {
  height: 40px;
  width: 40px;
  background: center;
  border-radius: 20px;
  background-size: 40px 40px;
}

.firstName {
  padding-left: 30px;
  display: inline-block;
}

.lastName {
  padding-left: 3px;
}

.uid {
  padding-left: 40px;
}

.email {
  padding-left: 40px;
}

.gu-mirror {
  position: fixed !important;
  z-index: 9999 !important;
  opacity: 1;
  list-style-type: none;
  box-shadow: 0 2px 2px rgba(182, 182, 182, 0.5);
  -webkit-align-items: center;
  align-items: center;
  display: block;
  position: relative;
  min-height: 80px;
  line-height: 80px;
  padding: 0 20px;
  border: 1px solid #d8d8d8;
  margin: 0 30px 10px 0;
  background-color: #fff;
  cursor: move;
  border-style: dashed;
  border-width: 2px;
}
