<app-course-user-list *ngIf="course && foundStudents"
                      [courseId]="courseId"
                      [course] = "course"
                      [users]="course.students"
                      [dragableUsersInCourse]="course.students"
                      [dragableUsers]="foundStudents"
                      [dragulaWhitelistBagId]="dragulaWhitelistBagId"
                      [role]="'student'"
                      [dragulaBagId]="'students'"
                      [usersTotal]="total"
                      (onSearch)="onSearch($event)"
                      (onDragendRemove)="removeUserFromCoure($event)"
                      (onDragendPush)="pushUserToCourse($event)"
                      (onUpdate)="updateUser($event)"></app-course-user-list>
<ng-container *ngIf="showWhitelists">
<app-whitelist-edit
  [dragulaBagId]="dragulaWhitelistBagId"
  [total]="totalWhitelist"
  [searchString]="search">
</app-whitelist-edit>
</ng-container>
