<div class="code-kata-unit-form">
  <strong>Code-Kata</strong>

  <app-unit-general-info-form [model]="model"></app-unit-general-info-form>

  <div class="info-text">
    <mat-icon>info</mat-icon>
    {{ 'code-kata.information.info1' | translate }} "{{areaSeperator}}".
  </div>
  <div class="info-text">
    <mat-icon>info</mat-icon>
    {{ 'code-kata.information.info2' | translate }}
  </div>

  <ace-editor class="user-code-editor"
              #codeEditor
              [(text)]="wholeInputCode"
              [mode]="'javascript'"
              [theme]="'github'"
              [readOnly]="false">
  </ace-editor>

  <button mat-raised-button (click)="validate()">Validate</button>
  <app-button-save-cancel (save)="addUnit()" (cancel) ="onCancel()"></app-button-save-cancel>
  <div *ngIf="logs!==undefined" class="logs-title">
    {{ 'code-kata.text.logs' | translate }}
    <pre>{{logs}}</pre>
  </div>
</div>
