<div class="code-kata-unit-form" [formGroup]="unitForm">
  <mat-hint>
    <mat-icon>info</mat-icon>
    {{ 'code-kata.information.info1' | translate }} "{{areaSeperator}}".
    <br/>
    <mat-icon>info</mat-icon>
    {{ 'code-kata.information.info2' | translate }}
  </mat-hint>

  <ace-editor class="user-code-editor"
              #codeEditor
              formControlName="wholeInputCode"
              [mode]="'markdown'"
              [theme]="'github'"
              [readOnly]="false">
  </ace-editor>
  <div *ngIf="logs" class="logs-title">
    {{ 'code-kata.text.logs' | translate }}
    <pre>{{logs}}</pre>
  </div>
</div>
