<mat-dialog-content>
  <h2>{{ 'unit.addFiles' | translate }}</h2>

  <app-upload-form [uploadMethod]="'POST'"
                   [uploadPath]="uploadPath"
                   [additionalData]="null"
                   (onFileSelectedChange)="null"
                   (onFileUploaded)="onFileUploaded($event)"
                   (onAllUploaded)="onAllUploaded()"></app-upload-form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary"
          (click)="uploadAll()" [disabled]="!checkSave()">
    <mat-icon>file_upload</mat-icon>
    {{ 'file.placeholder.uploadFiles' | translate }}
  </button>
  <button mat-raised-button (click)="cancel()">{{ 'common.cancel' | translate }}</button>
</mat-dialog-actions>
