.message-input-field {
  width: 100%;
  textarea {
    max-height: 200px;
  }
}

.msg-input-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 2px solid #f2f2f2;
}


.emoji-mart{
  animation: fadeInUp 1s;
}

.emoji-mart-scroll {
  height: 170px !important;
}

.msg-input{
  display: flex;
  flex-direction: row;
  align-items: baseline;

  form {
    flex: 1;
  }

  .message-input-field textarea{
    max-height: 200px;
    min-height: 100px;
    background-color: white;
    border-radius: 5px;
    padding: 0 10px;
  }
}


.msg-input-footer{
  display: flex;
  justify-content: flex-end;
}
