<mat-card *ngIf="hasToken === false" class="reset-card">
  <mat-card-header>
    <mat-card-title><h1>Request password reset</h1></mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form name="form" (ngSubmit)="requestReset()" [formGroup]="resetForm">
      <mat-form-field>
        <input matInput formControlName="email" placeholder="Mail address">
      </mat-form-field>

      <button mat-raised-button color="primary" matTooltip="{{ auth.tooltipResetPass }}" class="mat-button" type="submit" [disabled]="loading">Request password reset</button>
      <br>
    </form>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="hasToken === true" class="reset-card">
  <mat-card-header>
    <mat-card-title><h1>Reset Password</h1></mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form name="form" (ngSubmit)="reset()" [formGroup]="resetForm">

      <app-password-input [form]="resetForm"></app-password-input>

      <button mat-raised-button  matTooltip="{{ auth.tooltipResetPassword | translate }}" color="primary" type="submit" [disabled]="loading">Reset</button>
    </form>
  </mat-card-content>
</mat-card>
