<mat-card *ngIf="hasToken === false" class="reset-card">
  <mat-card-header>
    <mat-card-title><h1>Request password reset</h1></mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form name="form" (ngSubmit)="requestReset()" [formGroup]="resetForm">
      <mat-form-field>
        <input matInput formControlName="email" placeholder="Mail address">
      </mat-form-field>

      <button mat-raised-button color="primary" class="mat-button" type="submit" [disabled]="loading">Submit</button>
      <br>
    </form>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="hasToken === true" class="reset-card">
  <mat-card-header>
    <mat-card-title><h1>Reset Password</h1></mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form name="form" (ngSubmit)="reset()" [formGroup]="resetForm">
      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="Password"/>
        <div class="form-text error" *ngIf="resetForm?.controls.password.touched">
          <small *ngIf="resetForm.controls.password.hasError('required')" class="text-danger">Password is required</small>
          <small *ngIf="resetForm.controls.password.hasError('pattern')">{{passwordPatternText}}</small>
        </div>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm password"/>
        <div class="form-text error" *ngIf="resetForm.controls.confirmPassword.touched">
          <small *ngIf="resetForm.hasError('mismatchedPasswords')">Passwords do not match.</small>
        </div>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="loading">Reset</button>
    </form>
  </mat-card-content>
</mat-card>
