<div class="free-text-unit-edit">
  <app-unit-general-info-form [model]="model"></app-unit-general-info-form>

  <div class="info-text">
    <mat-icon>info</mat-icon>
    Add Markdown to add text to this Course.
  </div>

  <mat-form-field>
    <textarea matInput id="markdown" placeholder="Add Markdown here" cols="50" rows="6"
              [(ngModel)]="model.markdown"></textarea>
  </mat-form-field>

  <div>
    <button mat-raised-button color="primary" class="add-unit" (click)="saveUnit()">Save</button>
  </div>
</div>
