<div class="free-text-unit-edit">
  <app-unit-general-info-form [model]="model"></app-unit-general-info-form>

  <app-free-text-unit-editor [(markdown)]="this.model.markdown"></app-free-text-unit-editor>

  <div class="btn-wrapper">
    <button md-button md-raised-button color="secondary" (click)="openFullscreen()"
            md-tooltip="Open markdown-editor as fullscreen">
      Fullscreen
    </button>
    <button md-raised-button color="primary" class="add-unit" (click)="saveUnit()">Save</button>
    <button md-button color="secondary" (click)="onCancel()">Cancel</button>
  </div>
</div>
