<div class="chat-container">
  <div class="messages">
    <ul *ngFor="let message of messages">
      <li class="msg" [ngClass]="[(message.author._id === userService.user._id)? 'send': 'replies']">
        <div class="author">{{message.chatName}}</div>
        <div class="content">{{message.content}}</div>
      </li>
    </ul>
  </div>
  <div class="chat-footer-container">
    <mat-form-field class="chat-input">
      <span matPrefix><mat-icon>message</mat-icon></span>
      <input matInput
             #inputMessage
             maxlength="240"
             placeholder="Type your message"
             [(ngModel)]="inputValue"
             (keyup.enter)="onEnter()">
      <mat-hint align="end">{{inputMessage.value.length}}/240</mat-hint>
    </mat-form-field>
  </div>
</div>
