<div class="chat-container">
  <div class="messages" #msgs [scrollTop]="msgs.scrollHeight" appInfiniteScroll [shouldEmit]="loadMsgOnScroll"
       (loadMore)="getMessages()" [scrollCallback]="scrollCallback">
    <ul *ngFor="let message of messages">
      <li class="msg" [ngClass]="[(message.author._id === userService.user._id)? 'send': 'replies']">
        <div class="author">{{message.chatName}}</div>
        <div class="content">
          <div [innerHtml]="sanitizer.bypassSecurityTrustHtml(markdownService.render(message.content))"></div>
          <span class="msg-created-at">{{message.createdAt | date:'mediumDate'}}</span>
        </div>
      </li>
    </ul>
  </div>
  <div class="chat-footer-container row">
    <div class="col-12">
      <form [formGroup]="form">
          <mat-form-field class="message-input-field">
            <textarea autofocus matInput class="form-control" formControlName="chatName" (keydown)="onEnter($event)"
                      placeholder="Enter your message(Markdown supported)."></textarea>
            <mat-hint align="start">Ctrl + Enter to send</mat-hint>
          </mat-form-field>
      </form>
    </div>
  </div>
</div>
