<form class="writeMailForm">
  <mat-form-field class="full-width">
    <input matInput name="to" [(ngModel)]="to" placeholder="Recipients">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput name="subject" [(ngModel)]="subject" placeholder="Subject">
  </mat-form-field>
  <mat-form-field class="full-width">
    <textarea matInput name="text" [(ngModel)]="text" placeholder="Mail Text"
              matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="15"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" disabled="{{!text || !subject || !to}}" (click)="sendMail()">Send Mail</button>
  <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
</form>
