<md-card>
  <h1>Upload new Videos</h1>
  <div>
    <input type="file" ng2FileSelect [uploader]="uploader" placeholder="Upload files" multiple  />
    <md-select name="lecture" [(ngModel)]="lectureId" placeholder="Lecture">
      <md-option *ngFor="let l of course.lectures" [value]="l._id">{{l.name}}</md-option>
    </md-select>
    <button md-raised-button color="primary"
            (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length || !lectureId">
      <md-icon>file_upload</md-icon> Upload
    </button>
  </div>
  <div>
    <div *ngFor="let item of uploader.queue">
      <strong>{{ item?.file?.name }}</strong>
      <span *ngIf="item.isReady">(ready)</span>
      <span *ngIf="item.isUploading">(uploading...)</span>
      <span *ngIf="item.isSuccess">(success!)</span>
      <md-progress-bar mode="determinate" [value]="item.progress"></md-progress-bar>
    </div>
  </div>
  <div>
    Queue progress:
    <div>
      <md-progress-bar mode="determinate" [value]="uploader.progress"></md-progress-bar>
    </div>
  </div>
  <div>
    <button md-raised-button color="warn" (click)="uploader.clearQueue()">
      Remove all
    </button>
  </div>
</md-card>
