<strong>Videos</strong>

<app-unit-general-info-form [model]="model"></app-unit-general-info-form>

<div>
  <input type="file" ng2FileSelect [uploader]="uploader" placeholder="Upload files" multiple/>
  <button md-button color="warn" (click)="uploader.clearQueue()">
    Remove all
  </button>
</div>
<div>
  <div *ngFor="let item of uploader.queue">
    <strong>{{ item?.file?.name }}</strong>
    <span *ngIf="item.isReady">(ready)</span>
      <span *ngIf="item.isUploading">(uploading...)</span>
    <span *ngIf="item.isSuccess">(success!)</span>
    <md-progress-bar mode="determinate" [value]="item.progress"></md-progress-bar>
  </div>
</div>
<div>
  Queue progress:
  <div>
    <md-progress-bar mode="determinate" [value]="uploader.progress"></md-progress-bar>
  </div>
</div>
<p>
  <button md-button (click)="onCancel()">Cancel</button>
  <button md-button color="primary"
          (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
    Upload
  </button>
</p>
