<app-course-user-list *ngIf="course && foundTeachers"
                      [courseId]="courseId"
                      [course] = "course"
                      [users]="course.teachers"
                      [dragableUsersInCourse]="course.teachers"
                      [dragableUsers]="foundTeachers"
                      [role]="'teacher'"
                      [dragulaBagId]="'teachers'"
                      (onDragendUpdate)="updateCoure($event)"
                      (onUpdate)="updateUser($event)"></app-course-user-list>
