.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10% 80% 10%;
}
header {
    grid-column: span 12;
    color: red;
}
aside {
    grid-column: span 4;
    padding: 10px;
    clear: both;
 }
main {
    grid-column: span 8;
    padding: 10px;
    float: left;
    display: inline-block;
}
header {
    margin-left: auto;
    padding: 10px;
    float: right;
    display: block;
}
#remotes{
  width: 100%;
  display: inline-flex;
  clear: both;
  .kvc-video-container{
    margin: 10px ;
    height: 30%;
    width: 30%;
    border: 1px solid blue;
}
}
.local-video video{
   width: 100%;
}
.chat__main {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 100%;
  overflow-y: scroll;
}
.chat__footer {
  background: #e6eaee;
  display: flex;
  padding: 10px;
  /*height: 60px;*/
  flex-shrink: 0;
  width: 100%;
}
.chat__footer form {
  flex-grow: 1;
  display: flex;
  width: 100%;
}
.chat__footer form * {
  margin-right: 10px;
}
.chat__footer input {
  border: none;
  padding: 10px;
  flex-grow: 1;
  width: 70%;
}
.filename{
  border: none;
  padding: 10px;
  flex-grow: 1;
}
.chat__messages {
  list-style-type: none;
  padding: 10px;
  flex-grow: 1;
}
.message {
  padding: 10px;
}
.user{
   color: blue;
}
mat-card-actions{
}
#quit { font-size: 36px;color: red ;}
#sound , #cam , #attache {
  font-size: 36px;
  color: blue;
  padding: 6px;
}

 #cam:hover {
  cursor: pointer;
}

#sound:hover {
  cursor: pointer;
}

 #sound:hover {
  cursor: pointer;
}

.sending {
  display: none;
}

.receiving{
  display: block;
}
#file-form{
  float: left;
  clear: both;
}
.sending{
  list-style-type: none;
}
.chat__messages .sending{
  display: none;
}
.receiving{
  list-style-type: none;
}
.filename{
  color: blue;
}
ul li{
  padding: 0px;
}
.fileList{
  list-style-type: none;
    margin: 0;
    float: left;
}

.username{
  text-align: center;
  width: 100%;
}

.receiving{
  display: block;
}

.sending{
  display: none;
}

 #messages{
  list-style-type: none;
}

container .username{
  text-align: center;width: 100%
}
