<div class="container">
  <header>
  </header>
  <aside class="">
    <mat-card class="col-md-9 local-video">
              <mat-card-content>
              <video #video id="localVideo" autoplay></video>
              </mat-card-content>
              <mat-card-actions class="actionstate">
               <mat-icon id="quit" (click)="leave()">highlight_off</mat-icon>
                <mat-icon id="sound" (click)="toggleLocalAudio()">{{mic}}</mat-icon>
                <mat-icon id="cam" (click)="toggleLocalVideo()">{{cam}}</mat-icon>
              </mat-card-actions>
    </mat-card>
    <div class="chatmain" id="chatmain">
    <!-- LIST TO LOAD MESSAGES <li id="messages" class="chat__messages"></li> -->
    <div id="messages" class="chatmessages"></div>
    <div class="chat"  id="chat">
        <div *ngFor=" let message of messages">
           <mat-icon>person</mat-icon> <b>{{message.username}}</b>: {{message.postedOn}} <br> {{message.content}}
        </div>
    </div>

    <div class="chatfooter" id="chatfooter">

      <form id="message-form">
        <input  type="text" id="message" name="message" placeholder="{{'messaging.inputHintText'| translate}}" autofocus autocomplete="off" [(ngModel)]="message" #mes="ngModel" (keydown.enter)="postMessage()" />
      </form>
      <br>
      <input #file type="file" name="" id="upload_btn" style="display:none;"/>
      <label for="upload_btn"> <mat-icon  id="attache">attachment</mat-icon></label>
    </div>

  </div>
  </aside>
  <main>
     <div id="remotes" class="remotes">
        <div *ngFor=" let stream of streams">
              <div>{{stream.MediaStream}}</div>
        </div>
     </div>


  </main>
</div>