@import '../../variables';

.cookieNotice {
  display: inline-block;
  width: 100%;
  padding: 5px;
  background-color: #323232;
  color: white;
  font-family: $font-body;
  font-size: 14px;
  line-height: unset;
  margin-bottom: -10px;
}

.cookieNotice p {
  float: left;
  padding: 0 10px 0 10px;
  margin-bottom: 0;
}

.controlArea {
  float: right;
}

.cookieNotice .controlArea a {
  color: white;
  padding: 14px 10px 0 10px;
  text-decoration: underline;
}

.cookieNotice .controlArea button {
  border: 2px solid #ff4081;
  background-color: #323232;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}


