<!--
    TUTORIAL FOR CREATING & INTEGRATING NEW UNIT TYPES

    1. Create your-type component in 'unit-form' folder(for teacher edit). And also your-type component for students-view
        Inject UnitFormService and FormBuilder in constructor.
        unitFormService.headline sets Headline, unitFormService.unitInfoText sets Unit-Info-Text*
    2. Add new Type in /app/webFrontend/src/app/shared/services/unit-factory.service.ts (createNewUnit)
    3*. _IF_ you want to add extra Buttons (ex: Fullscreen in Textmode) include your-type in unit-form.component.ts as ViewChild  (see other).
      3.1 Add Button (important: type="button", ng-if to your type) below in app-button-save-cancel your desired position
      3.2 Connect your button action with ViewChild
          ex: (click)="freeTextUnitFormComponent.openFullscreen()
    4. Include your-type in form below (ng-if type) and pass parameters (model)
    5. Register your-type controls in your-type.ts (ex: this.unitForm.addControl('my_control_name', new FormControl(this.model.MYFIELD)); (this.model is your type model)
       and pass model.field as default value. (Think about form-validation https://angular.io/guide/form-validation#reactive-form-validation)
    6. In your-type.component.html write your form within [formGroup]="unitForm" element. eg: <ng-container [formGroup]="unitForm">...</ng-container>
    7. Write your form-html, form fields: formControlName="my_control_name"
    8*. If you want actions (e.g validation) before submit, use async function unitFormService.beforeSubmit = async () => {/*my checks here*/}.
       By returning false, the submit will canceled.

    Achitecture:
    <unit-form> (holds the unitForm)
      <general-info-form (for headline, name, description, visibility ) />
      <type-specific-form (place everything type specific here) />
      <buttons (create custom buttons on bottom of form)>
        <left (left position from save/cancle) />
        <right (right from save/cancle) />
      </buttons>
    </unit-form>


    Interesting links:
    https://angular.io/guide/reactive-forms

* Optional

-->
<form class="edit-unit" *ngIf="course" [formGroup]="unitForm" (reset)="reset()"  (submit)="save()" novalidate>
  <app-unit-general-info-form></app-unit-general-info-form>

  <app-file-unit-form
    *ngIf="(type == 'video' || type == 'file')"
    [fileUnitType]="model.fileUnitType">
  </app-file-unit-form>
  <app-code-kata-unit-form
    *ngIf="type == 'code-kata'"
   ></app-code-kata-unit-form>
  <app-task-unit-form
    *ngIf="type == 'task'"
    ></app-task-unit-form>
  <app-free-text-unit-form
    *ngIf="type == 'free-text'"
    ></app-free-text-unit-form>

  <div class="btn-wrapper">
    <app-button-save-cancel [saveButtonDisabled]="unitForm.invalid">
      <ng-container left>
        <!-- Add Elements left to the save & cancel buttons -->
        <!-- Button MUST BE  type="button" -->
        <button type="button" *ngIf="type == 'code-kata'" mat-raised-button (click)="codeKataUnitFormComponent.validate()">Validate</button>
        <button type="button" *ngIf="(type == 'video' || type == 'file')" mat-raised-button (click)="fileUnitFormComponent.openAddFilesDialog()">Add {{model.fileUnitType=='file'?'Files':'Videos'}}</button>
      </ng-container>
      <ng-container right>
        <!-- Add here Elements right to the save & cancel buttons -->
        <button  type="button" *ngIf="type == 'free-text'" mat-raised-button color="secondary"
                 (click)="freeTextUnitFormComponent.openFullscreen()">Fullscreen</button>
        <button type="button" *ngIf="type == 'task'" mat-raised-button (click)="taskUnitEditComponent.addTask()">
          <mat-icon>add</mat-icon> Add question
        </button>
      </ng-container>
    </app-button-save-cancel>
  </div>


</form>
