<form class="edit-unit" *ngIf="course" [formGroup]="unitForm">
  <app-unit-general-info-form [model]="model" [unitForm]="unitForm"></app-unit-general-info-form>
  <!--<app-file-unit-form
    *ngIf="(type == 'video' || type == 'file')"
    [course]="course"
    [lecture]="lecture"
    [model]="model"
    [fileUnitType]="type"
    [onDone]="onDone"
    [onCancel]="onCancel">
  </app-file-unit-form>

  <app-task-unit-edit
    *ngIf="type == 'task'"
    [course]="course"
    [model]="model"
    [lectureId]="lecture._id"
    [onDone]="onDone"
    [onCancel]="onCancel"></app-task-unit-edit>
  <app-code-kata-unit-form
    *ngIf="type == 'code-kata'"
    [course]="course"
    [model]="model"
    [lectureId]="lecture._id"
    [onDone]="onDone"
    [onCancel]="onCancel"></app-code-kata-unit-form>!-->
  <app-free-text-unit-form
    *ngIf="type == 'free-text'"
    [course]="course"
    [model]="model"
    [lectureId]="lecture._id"
    [onDone]="onDone"
    [onCancel]="onCancel"
    [unitForm]="unitForm"></app-free-text-unit-form>

</form>
