

<md-card class="card" [ngClass]="{shadowCard: onEdit}">
  <md-toolbar color="primary">Multiple Choice</md-toolbar>

  <md-card-header>

        <md-card-title>

        </md-card-title>

  </md-card-header>
      <md-card-content>
        <div class="edit-mode" *ngIf="editMode" >
          <md-input-container style="width: 100%">
            <textarea mdInput id="name" placeholder="Frage hier eingeben." [(ngModel)]="task.name"></textarea>
          </md-input-container>

          <button md-icon-button *ngIf="task._id" (click)="addAnswer()"><md-icon>add</md-icon></button>

          <table cellspacing="0" cellpadding="2" width="100%"><tr>
            <td>
              <md-checkbox [(ngModel)]="answer.value" name="value_{{idx}}"></md-checkbox></td>
            <td style="width: 100%">
              <md-input-container style="width: 100%" >

                <textarea mdInput name="text_{{idx}}" placeholder="Antwort hier eingeben." [(ngModel)]="answer.text"></textarea>

              </md-input-container>

            </td>
            <td>
              <button md-icon-button (click)="removeAnswer(idx)"><md-icon>remove</md-icon></button>
            </td>
          </tr></table>
        </div>
        <div class="view-mode" *ngIf="!onEdit">
          <h4>{{task.name}}</h4>
        </div>


        <div *ngFor="let answer of task.answers; let idx = index;">

          <table *ngIf="!onEdit" cellspacing="0" cellpadding="2" width="100%"><tr>
            <td>
              <md-checkbox [(ngModel)]="answer.value" [disabled]="true" name="value_{{idx}}"></md-checkbox>
            </td><td style="width: 100%">
             {{answer.text}}
                 </td>

          </tr></table>


              <table *ngIf="onEdit" cellspacing="0" cellpadding="2" width="100%"><tr>
                   <td>
                 <md-checkbox [(ngModel)]="answer.value" name="value_{{idx}}"></md-checkbox></td>
                <td style="width: 100%">
                <md-input-container style="width: 100%" >

                    <textarea mdInput name="text_{{idx}}" placeholder="Antwort hier eingeben." [(ngModel)]="answer.text"></textarea>

                  </md-input-container>

                </td>
                <td>
                  <button md-icon-button (click)="removeAnswer(idx)"><md-icon>remove</md-icon></button>
                </td>
              </tr></table>

         </div>

     </md-card-content>



  <md-card-actions>
      <div *ngIf="task._id !== null" align="center">

        <button md-raised-button color="primary" *ngIf="onEdit !== true" (click)="editorCancelTask()"><md-icon>create</md-icon></button>
        <button md-raised-button *ngIf="onEdit" (click)="editorCancelTask()"><md-icon>undo</md-icon></button>

         <button md-raised-button color="primary" *ngIf="onEdit" (click)="updateTask()" [disabled]="!isTaskValid()"><md-icon>playlist_add_check</md-icon></button>
        <button md-raised-button (click)="removeTask()"><md-icon>delete_forever</md-icon></button>
      </div>
      <div *ngIf="(task._id === null)" align="center">
        <button md-raised-button color="primary" *ngIf="onEdit" (click)="createTask()" [disabled]="!isTaskValid()"><md-icon>save</md-icon></button>
      </div>
    <br>
  </md-card-actions>
</md-card>

