<mat-form-field class="pull-right">
  <input matInput (keyup)="getInput($event)" placeholder="search course" maxlength="64"/>
</mat-form-field>
<app-course-container [title]="'dashboard.courses'|translate" [courses]="allCourses" [expand]="true"
                      (onEnroll)="enrollCallback()"></app-course-container>

<app-mat-fab-menu class="add-course-fab" [open]="fabOpen" [onClick]="onFabClick"
                  [fabTooltip]="'dashboard.addCourse'|translate">
  <div (click)="onImportCourse()">{{ 'dashboard.importCourse'|translate }}</div>
  <div (click)="createCourse()">{{ 'dashboard.createCourse'|translate }}</div>
</app-mat-fab-menu>
