.chkbox {
  float: right;
}

.spacer {flex: 1 1 auto;}

.layout {
  width: 100%;
  display: block;
}

.spinner {
  position: relative;
  right: 5em;
  top: 0.25em;
  float: right;
}

.dl-card {
  max-width: 800px;
  padding: 0px 24px 24px 24px;
}
