<div *ngIf="this.checkForEmptyLectures()">
  <mat-card class="dl-card">
    <mat-card-content>
      <ng-container *ngIf="!this.checkForEmptyLectures()">{{'common.text.downloadNoFiles' | translate}}</ng-container>
    <app-download-tree [course]="this.course"></app-download-tree>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="this.disableDownloadButton" (click)="downloadAndClose()">
        {{ 'common.download' | translate }}
      </button>
      <button mat-button (click)="uncheckAll()">Reset</button>
      <span class="spacer"></span>
      <ng-container *ngIf="showSpinner">
        <mat-spinner [diameter]=20 [strokeWidth]=2 class="spinner"></mat-spinner>
      </ng-container>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf="!this.checkForEmptyLectures()">
  <h2>There are no Units Attached to this course yet!</h2>
</div>
