.chkbox {
  float: right;
}

.spacer {flex: 1 1 auto;}

.layout {
  width: 100%;
  display: block;
}

.infoIcon {
  position: relative;
  bottom: -0.2em;
  margin-left: -1em;
  margin-right: 0.4em;
}

.spinner {
  position: relative;
  right: 5em;
  top: 0.25em;
  float: right;
}

.dl-card {
  max-width: 800px;
  padding: 0px 24px 24px 24px;
  .header {
    margin-top: 0em;
  }
}

.mat-dialog-actions > button:nth-child(n+3) {
  margin-left: 10px;
}

.radio-buttons{
  margin-bottom: 15px;
}

.radio-buttons .radio-info{
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  font-style: italic;
}

.radio-buttons .radio-button:nth-child(n+2){
  margin-left: 20px;
}

.beta-warning {
  color: red;
  font-weight: bolder;
}
