.chkbox {
  float: right;
}

.spacer {flex: 1 1 auto;}

.layout {
  width: 100%;
  display: block;
}

.infoIcon {
  position: relative;
  bottom: -0.2em;
  margin-left: -1em;
  margin-right: 0.4em;
}

.spinner {
  position: relative;
  right: 5em;
  top: 0.25em;
  float: right;
}

.dl-card {
  max-width: 800px;
  padding: 0px 24px 24px 24px;
  .header {
    margin-top: 0em;
  }
}

.lightgray {
  color: #A1A1A1;
}

.fUnit {
    margin-left: 5em !important;
}

.unit {

    margin-left: 3em !important;

}

.lec {
    margin-left: 1em !important;
}

