.chkbox {
  float: right;
}

.spacer {flex: 1 1 auto;}

.layout {
  width: 100%;
  //display: flex;
  //flex-direction: column;
  display: block;
}

.spinner {
  position: relative;
  right: 5em;
  top: 0.25em;
  float: right;
}

.selectAll {

}

