<h1 matDialogTitle>This course requires an access key</h1>
<div mat-dialog-content>Please enter the course's access key:</div>
<div>
  <mat-form-field class="full-width">
    <input async matInput type="password" id="accessKey" placeholder="access key" [(ngModel)]="accessKey"
           [ngModelOptions]="{standalone: true}">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="dialogRef.close(accessKey)" style="margin-right: 10px">Continue</button>
  <button mat-raised-button color="warn" (click)="dialogRef.close(null)">Discard</button>
</div>
