<mat-tab-group (selectChange)="onTabChange($event)">
<mat-tab label="Write">
<p class="info-text">
  <mat-icon>info</mat-icon>
  Add Markdown to edit imprint.
  A Cheatsheet you can find
  <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">here</a>.
</p>

<ace-editor #editor
            [(text)]="text"
            [mode]="'markdown'"
            [theme]="'github'"
            [autoUpdateContent]="true">
</ace-editor>
</mat-tab>
<mat-tab label="Preview">
  <div [innerHtml]="imprintRendered"></div>
</mat-tab>
</mat-tab-group>
<app-button-save-cancel (save)="onSave()" (cancel) ="onCancel()"></app-button-save-cancel>

