.markdown-wrapper {

  //taken from https://github.com/jasonm23/markdown-css-themes
  border-left: 3px solid #000;
  padding-left: 1em;

  /* custom boxes */
  %custombox-shared {
    color: #424242;
    padding: 10px;
  }

  .warning {
    @extend %custombox-shared;
    background-color: #ff8;
  }

  .info {
    @extend %custombox-shared;
    background-color: #03A9F4;

  }

  .error {
    @extend %custombox-shared;
    background-color: #F44336;

  }

  .success {
    @extend %custombox-shared;
    background-color: #4CAF50;

  }

  &.theme1 {
    background-color: #fff;
    color: #000;
    font: 13px "Myriad Pro", "Lucida Grande", Lucida, Verdana, sans-serif;

    h1, h2, h3, h4, h5, h6 {
      text-decoration: underline;
    }

    pre {
      white-space: pre-wrap;
    }

    /* links */
    a:link {
      color: #00f;
      text-decoration: none;
    }

    a:visited {
      color: #00a;
      text-decoration: none;
    }

    a:hover {
      color: #f60;
      text-decoration: underline;
    }

    a:active {
      color: #f60;
      text-decoration: underline;
    }

    /* html tags */

    /*  Work around IE/Win code size bug - courtesy Jesper, waffle.wootest.net  */

    * code {
      font-size: 101%;
    }

    * pre {
      font-size: 101%;
    }

    /* code */

    pre, code {
      font-size: 11px;
      font-family: monaco, courier, consolas, monospace;
    }

    pre {
      margin-top: 5px;
      margin-bottom: 10px;
      border: 1px solid #c7cfd5;
      background: #f1f5f9;
      margin: 20px 0;
      padding: 8px;
      text-align: left;
    }

    hr {
      color: #919699;
      width: 100%;
      noshade: "noshade"
    }

    /* headers */

    h1, h2, h3, h4, h5, h6 {
      font-family: "Myriad Pro", "Lucida Grande", Lucida, Verdana, sans-serif;
      font-weight: bold;
    }

    h1 {
      margin-top: 1em;
      margin-bottom: 25px;
      color: #000;
      font-weight: bold;
      font-size: 30px;
    }
    h2 {
      margin-top: 2.5em;
      font-size: 24px;
      color: #000;
      padding-bottom: 2px;
      border-bottom: 1px solid #919699;
    }
    h3 {
      margin-top: 2em;
      margin-bottom: .5em;
      font-size: 17px;
      color: #000;
    }
    h4 {
      margin-top: 2em;
      margin-bottom: .5em;
      font-size: 15px;
      color: #000;
    }
    h5 {
      margin-top: 20px;
      margin-bottom: .5em;
      padding: 0;
      font-size: 13px;
      color: #000;
    }

    h6 {
      margin-top: 20px;
      margin-bottom: .5em;
      padding: 0;
      font-size: 11px;
      color: #000;
    }

    p {
      margin-top: 0px;
      margin-bottom: 10px;
    }

    /* lists */

    ul {
      list-style: square outside;
      margin: 0 0 0 30px;
      padding: 0 0 12px 6px;
    }

    li {
      margin-top: 7px;
    }

    ol {
      list-style-type: decimal;
      list-style-position: outside;
      margin: 0 0 0 30px;
      padding: 0 0 12px 6px;
    }

    ol ol {
      list-style-type: lower-alpha;
      list-style-position: outside;
      margin: 7px 0 0 30px;
      padding: 0 0 0 10px;
    }

    ul ul {
      margin-left: 40px;
      padding: 0 0 0 6px;
    }

    li > p {
      display: inline
    }
    li > p + p {
      display: block
    }
    li > a + p {
      display: block
    }

    /* table */

    table {
      width: 100%;
      border-top: 1px solid #919699;
      border-left: 1px solid #919699;
      border-spacing: 0;
    }

    table th {
      padding: 4px 8px 4px 8px;
      background: #E2E2E2;
      font-size: 12px;
      border-bottom: 1px solid #919699;
      border-right: 1px solid #919699;
    }
    table th p {
      font-weight: bold;
      margin-bottom: 0px;
    }

    table td {
      padding: 8px;
      font-size: 12px;
      vertical-align: top;
      border-bottom: 1px solid #919699;
      border-right: 1px solid #919699;
    }
    table td p {
      margin-bottom: 0px;
    }
    table td p + p {
      margin-top: 5px;
    }
    table td p + p + p {
      margin-top: 5px;
    }

    /* forms */

    form {
      margin: 0;
    }

    button {
      margin: 3px 0 10px 0;
    }
    input {
      vertical-align: middle;
      padding: 0;
      margin: 0 0 5px 0;
    }

    select {
      vertical-align: middle;
      padding: 0;
      margin: 0 0 3px 0;
    }

    textarea {
      margin: 0 0 10px 0;
      width: 100%;
    }

    /* custom boxes */
    %custombox-shared {
      padding: 10px;
    }

    .warning {
      @extend %custombox-shared;
      background-color: #ff8;
    }

    .info {
      @extend %custombox-shared;

    }

    .error {
      @extend %custombox-shared;

    }

    .success {
      @extend %custombox-shared;

    }
  }

  &.theme2 {
    font-family: Georgia, Palatino, serif;
    color: #333333; /* dark gray not black */

    line-height: 1;
    padding: 30px;
    font-size: 18px;

    p {
      line-height: 150%;
      font-weight: 400;
      color: #333333
    }

    h1, h2, h3, h4 {
      color: #111111;
      font-weight: 400;
    }

    h2, h3, h4, h5, p {
      margin-bottom: 25px;
      padding: 0;
    }

    h1 {
      margin-bottom: 10px;
      font-size: 300%;
      padding: 0px;
      font-variant: small-caps;
    }

    h2 {
      font-size: 150%;
      margin: 24px 0 6px;
    }

    h3 {
      font-size: 120%
    }
    h4 {
      font-size: 100%;
      font-variant: small-caps;

    }
    h5 {
      font-size: 80%;
      font-weight: 100;
    }

    h6 {
      font-size: 80%;
      font-weight: 100;
      color: red;
      font-variant: small-caps;
    }

    a {
      color: grey;
      margin: 0;
      padding: 0;
      vertical-align: baseline;
    }
    a:hover {
      text-decoration: blink;
      color: green;
    }
    a:visited {
      color: black;
    }
    ul, ol {
      padding: 0;
      margin: 0px 0px 0px 50px;
    }
    ul {
      list-style-type: square;
      list-style-position: inside;
    }

    li {
      line-height: 150%
    }
    li ul, li ul {
      margin-left: 24px;
    }

    pre {
      padding: 0px 24px;
      max-width: 800px;
      white-space: pre-wrap;
    }
    code {
      font-family: Consolas, Monaco, Andale Mono, monospace;
      line-height: 1.5;
      font-size: 13px;
    }
    aside {
      display: block;
      float: right;
      width: 390px;
    }
    blockquote {
      border-left: .5em solid #eee;
      padding: 0 1em;
      margin-left: 0;
    }
    blockquote cite {
      font-size: 14px;
      line-height: 20px;
      color: #bfbfbf;
    }
    blockquote cite:before {
      content: '\2014 \00A0';
    }

    blockquote p {
      color: #666;
      max-width: 460px;
    }
    hr {
      text-align: left;
      margin: 0 auto 0 0;
      color: #999;
    }

    /* custom boxes */
    %custombox-shared {
      padding: 10px;
    }

    .warning {
      @extend %custombox-shared;
      background-color: #ff8;
    }

    .info {
      @extend %custombox-shared;

    }

    .error {
      @extend %custombox-shared;

    }

    .success {
      @extend %custombox-shared;

    }

  }

  &.theme3 {

    font-family: Helvetica, Arial, sans-serif;
    color: #f6e6cc;
    margin: auto;
    background: #27221a;
    padding: 0 30px;

    table {
      border-collapse: collapse;
    }

    th {
      background-color: rgba(0, 0, 0, 0.3);
    }

    table, th, td {
      padding: 5px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 0.4em;
      -moz-border-radius: 0.4em;
      -webkit-border-radius: 0.4em;
    }

    tr:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.3);
    }

    p, ul, ol, dl, table, pre {
      margin-bottom: 1em;
    }
    ul {
      margin-left: 20px;
    }
    a {
      text-decoration: none;
      cursor: pointer;
      color: #ba832c;
      font-weight: bold;
    }
    a:focus {
      outline: 1px dotted;
    }
    a:visited {
    }
    a:hover, a:focus {
      color: #d3a459;
      text-decoration: none;
    }
    a *, button * {
      cursor: pointer;
    }
    hr {
      display: none;
    }
    small {
      font-size: 90%;
    }
    input, select, button, textarea, option {
      font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
      font-size: 100%;
    }
    button, label, select, option, input[type=submit] {
      cursor: pointer;
    }
    .group:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
    .group {
      display: inline-block;
    }
    /* Hides from IE-mac \*/
    * html .group {
      height: 1%;
    }
    .group {
      display: block;
    }
    /* End hide from IE-mac */
    sup {
      font-size: 80%;
      line-height: 1;
      vertical-align: super;
    }
    button::-moz-focus-inner {
      border: 0;
      padding: 1px;
    }
    span.amp {
      font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
      font-weight: normal;
      font-style: italic;
      font-size: 1.2em;
      line-height: 0.8;
    }

    h1, h2, h3, h4, h5, h6 {
      line-height: 1.1;
      font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
    }

    h2 {
      font-size: 22pt;
    }
    h3 {
      font-size: 20pt;
    }
    h4 {
      font-size: 18pt;
    }
    h5 {
      font-size: 16pt;
    }
    h6 {
      font-size: 14pt;
    }

    ::selection {
      background: #745626;
    }
    ::-moz-selection {
      background: #745626;
    }

    h1 {
      font-size: 420%;
      margin: 0 0 0.1em;
      font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
    }

    h1 a,
    h1 a:hover {
      color: #d7af72;
      font-weight: normal;
      text-decoration: none;
    }

    pre {
      background: rgba(0, 0, 0, 0.3);
      color: #fff;
      padding: 8px 10px;
      border-radius: 0.4em;
      -moz-border-radius: 0.4em;
      -webkit-border-radius: 0.4em;
      overflow-x: hidden;
    }

    pre code {
      font-size: 10pt;
    }

    .thumb {
      float: left;
      margin: 10px;
    }
  }

  &.theme4 {
     font-family: Helvetica, Arial, Freesans, clean, sans-serif;
    padding: 1em;
    margin: auto;
    background: #fefefe;



    table {
      border-collapse: collapse;
      width: 100%;
    }

    table, th, td {
      border: 1px solid #EAEAEA;
      border-radius: 3px;
      padding: 5px;
    }

    tr:nth-child(even) {
      background-color: #F8F8F8;
    }


    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
    }

    h1 {
      color: #000000;
      font-size: 28px;
    }

    h2 {
      border-bottom: 1px solid #CCCCCC;
      color: #000000;
      font-size: 24px;
    }

    h3 {
      font-size: 18px;
    }

    h4 {
      font-size: 16px;
    }

    h5 {
      font-size: 14px;
    }

    h6 {
      color: #777777;
      background-color: inherit;
      font-size: 14px;
    }

    hr {
      height: 0.2em;
      border: 0;
      color: #CCCCCC;
      background-color: #CCCCCC;
    }

    p, blockquote, ul, ol, dl, li, table, pre {
      margin: 15px 0;
    }

    code, pre {
      border-radius: 3px;
      background-color: #F8F8F8;
      color: inherit;
    }

    code {
      border: 1px solid #EAEAEA;
      margin: 0 2px;
      padding: 0 5px;
    }

    pre {
      border: 1px solid #CCCCCC;
      line-height: 1.25em;
      overflow: auto;
      padding: 6px 10px;
    }

    pre > code {
      border: 0;
      margin: 0;
      padding: 0;
    }

    a, a:visited {
      color: #4183C4;
      background-color: inherit;
      text-decoration: none;
    }
  }

}
