<h1>{{ 'common.settings' | translate }}</h1>
<h2>{{ 'common.notifications' | translate }}</h2>
<mat-table #table [dataSource]="dataSource">
  <ng-container matColumnDef="Notifications">
    <mat-header-cell class="header" *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle(notificationSelection) : null"
                    [checked]="notificationSelection.hasValue() && isAllSelected(notificationSelection)"
                    [indeterminate]="notificationSelection.hasValue() && !isAllSelected(notificationSelection)">
      </mat-checkbox>
      <span>{{ 'common.notifications' | translate }}</span>
    </mat-header-cell>
    <mat-cell class="checkBox" *matCellDef="let course">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? notificationSelection.toggle(course) : null"
                    [checked]="notificationSelection.isSelected(course)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell class="header" *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let course">{{course.name}}</mat-cell>
  </ng-container>
  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <mat-header-cell class="header" *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle(emailSelection) : null"
                    [checked]="emailSelection.hasValue() && isAllSelected(emailSelection)"
                    [indeterminate]="emailSelection.hasValue() && !isAllSelected(emailSelection)">
      </mat-checkbox>
      <span>{{ 'common.email' | translate}}</span>
    </mat-header-cell>
    <mat-cell class="checkBox" *matCellDef="let course">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? emailSelection.toggle(course) : null"
                    [checked]="emailSelection.isSelected(course)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<button mat-raised-button color="primary" class="mat-button saveButton" (click)="saveNotificationSettings()">{{ 'common.save' | translate }}</button>
