:host {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 100%;
  max-width: 400px;

  .mat-form-field {
    width: 100%;
  }
}

.mat-raised-button {
  margin-top: 7px;
}
