<md-card class="login-card">
  <md-card-header>
    <md-card-title><h1>Login</h1></md-card-title>
  </md-card-header>

  <md-card-content>
    <form name="form" (ngSubmit)="login()" [formGroup]="loginForm">
      <md-input-container>
        <input mdInput formControlName="email" placeholder="Mail address">
      </md-input-container>
      <md-input-container>
        <input mdInput type="password" formControlName="password" placeholder="Password">
      </md-input-container>

      <button md-raised-button color="primary" class="md-button" type="submit" [disabled]="loading">Login</button>
      <button md-raised-button class="md-button" type="button" routerLink="/reset" routerLinkActive="active">forgot
        password
      </button>
    </form>
  </md-card-content>
</md-card>
