<strong>Files</strong>

<app-unit-general-info-form [model]="model"></app-unit-general-info-form>
<div *ngIf="model">
  <span *ngIf="model.files.length">Existing files:</span>
  <div *ngFor="let file of model.files;">
    <md-input-container>
      <input mdInput [(ngModel)]="file.alias" placeholder="File name" size="40">
    </md-input-container>
    <button md-icon-button md-tooltip="Delete" (click)="deleteFile(file)">
      <md-icon>delete</md-icon>
    </button>
  </div>
  <div>
    <button md-button color="primary" (click)="update()"
            [disabled]="!generalInfo.form.value.name || hasInvalidFileNames()">
      Update
    </button>
  </div>
</div>
<div>
  <input type="file" ng2FileSelect [uploader]="uploader" placeholder="Upload files" multiple/>
  <button md-button color="warn" (click)="uploader.clearQueue()">
    Remove all
  </button>
</div>
<div>
  <div *ngFor="let item of uploader.queue">
    <strong>{{ item?.file?.name }}</strong>
    <span *ngIf="item.isReady">(ready)</span>
      <span *ngIf="item.isUploading">(uploading...)</span>
    <span *ngIf="item.isSuccess">(success!)</span>
    <md-progress-bar mode="determinate" [value]="item.progress"></md-progress-bar>
  </div>
</div>
<div>
  Queue progress:
  <div>
    <md-progress-bar mode="determinate" [value]="uploader.progress"></md-progress-bar>
  </div>
</div>
<p>
  <button md-button (click)="onCancel()">Cancel</button>
  <button md-button color="primary"
          (click)="uploadAll()" [disabled]="(!uploader.getNotUploadedItems().length) || (!generalInfo.form.value.name)">
    Upload
  </button>
</p>
