<button mat-icon-button [matMenuTriggerFor]="notificationMenu">
  <mat-icon>notifications</mat-icon>
  <span *ngIf="!isNullOrUndefined(notifications) && notifications.length" matBadge="{{notifications.length}}" matBadgeColor="accent" matBadgeOverlap="true"></span>
</button>
<mat-menu #notificationMenu="matMenu">
  <span class="headline">Notifications</span>
  <span *ngIf="!isNullOrUndefined(notifications) && notifications.length > 0" class="clearButton" (click)="clearAll()">{{ 'notifications.text.clearAll' | translate }}</span>
  <span *ngIf="isNullOrUndefined(notifications) || notifications.length <= 0" class="noNotification">{{ 'notifications.text.noNotifications' | translate }}</span>
  <mat-nav-list>
    <div *ngFor="let notification of notifications">
      <mat-divider></mat-divider>
      <div (click)="removeNotification(notification)">
        <mat-list-item *ngIf="isNullOrUndefined(notification.changedCourse)">
          <span class="notificationItem">{{notification.text}}</span>
        </mat-list-item>
        <mat-list-item
          *ngIf="!isNullOrUndefined(notification.changedCourse) && isNullOrUndefined(notification.changedLecture) && isNullOrUndefined(notification.changedUnit)"
          [routerLink]="['/course', notification.changedCourse]">
          <span class="notificationItem">{{notification.text}}</span>
        </mat-list-item>
        <mat-list-item
          *ngIf="!isNullOrUndefined(notification.changedCourse) && !isNullOrUndefined(notification.changedLecture) && isNullOrUndefined(notification.changedUnit)"
          [routerLink]="['/course', notification.changedCourse, 'lecture', notification.changedLecture]">
          <span class="notificationItem">{{notification.text}}</span>
        </mat-list-item>
        <mat-list-item
          *ngIf="!isNullOrUndefined(notification.changedCourse) && !isNullOrUndefined(notification.changedUnit)"
          [routerLink]="['/course', notification.changedCourse, 'unit', notification.changedUnit]">
          <span class="notificationItem">{{notification.text}}</span>
        </mat-list-item>
      </div>
    </div>
  </mat-nav-list>
</mat-menu>
