<button mat-icon-button [matMenuTriggerFor]="notificationMenu">
  <mat-icon>{{notificationIcon}}</mat-icon>
  <span *ngIf="!isNullOrUndefined(notifications)">{{notifications.length}}</span>
</button>
<mat-menu #notificationMenu="matMenu">
  <mat-nav-list>
    <mat-list-item class="headline">Notifications</mat-list-item>
    <div *ngFor="let notification of notifications">
      <mat-divider></mat-divider>
      <mat-list-item *ngIf="isNullOrUndefined(notification.changedLecture)" [routerLink]="['/course', notification.changedCourse._id]">
        <span class="notificationItem">{{notification.text}}</span>
      </mat-list-item>
      <mat-list-item *ngIf="!isNullOrUndefined(notification.changedLecture)" [routerLink]="['/course', notification.changedCourse._id, 'lecture', notification.changedLecture._id]">
        <span class="notificationItem">{{notification.text}}</span>
      </mat-list-item>
    </div>
  </mat-nav-list>
</mat-menu>

