.notificationItem {
  font-size: 0.6em;
  height: auto;
  white-space: pre-line;
}

.badge {
  margin-top: -0.5em;
}

.badgeMargin {
  margin-bottom: 0em;
}

.antiMargin {
  margin-top: -1em;
}

.headline {
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  padding-left: 5%;
}

.clearButton {
  font-size: 0.7em;
  text-decoration: underline;
  cursor: pointer;
  padding-left: 5%;
}

.noNotification {
  font-size: 0.7em;
  padding-left: 5%;
  white-space: pre;
}
