<button mat-icon-button [matMenuTriggerFor]="notificationMenu">
  <mat-icon>{{notificationIcon}}</mat-icon>
  <span *ngIf="!isNullOrUndefined(notifications)">{{notifications.length}}</span>
</button>
<mat-menu #notificationMenu="matMenu">
  <span class="headline">Notifications</span>
  <span class="clearButton" (click)="clearAll()">Clear all</span>
  <mat-nav-list>
    <div *ngFor="let notification of notifications">
      <mat-divider></mat-divider>
      <div (click)="removeNotification(notification)">
        <mat-list-item *ngIf="isNullOrUndefined(notification.changedLecture)" [routerLink]="['/course', notification.changedCourse._id]">
          <span class="notificationItem">{{notification.text}}</span>
        </mat-list-item>
        <mat-list-item *ngIf="!isNullOrUndefined(notification.changedLecture)" [routerLink]="['/course', notification.changedCourse._id, 'lecture', notification.changedLecture._id]">
          <span class="notificationItem">{{notification.text}}</span>
        </mat-list-item>
      </div>
    </div>
  </mat-nav-list>
</mat-menu>

