<h2>General Info</h2>

<p>This app was initialized by <a href="https://github.com/thomasss" target="_blank">Thomas Sauer</a>
  and brought to a production-ready state by students of the <a href="https://h-da.com" target="_blank">University of
    Applied Science in Darmstadt (h_da)</a>.</p>

<p>This is a <a href="https://github.com/h-da/geli" target="_blank">Open-Source project</a>, so feel free to help us :)
</p>

<hr>

<p>Big thanks to our main contributors:</p>

<div class="contributor--section">
  <md-card *ngFor="let contributor of allContributors;" class="card--contributor">
    <md-card-header>
      <div md-card-avatar></div>
      <md-card-title>
        {{contributor.firstName}} <span class="text--uppercase">{{contributor.name}}</span>
      </md-card-title>
      <md-card-subtitle>
        {{contributor.from}} => {{contributor.to}}
      </md-card-subtitle>
    </md-card-header>
    <md-card-actions>
      <button md-button><span class="fa fa-github"></span> Github</button>
    </md-card-actions>
  </md-card>
</div>
