<div class="tasks">
  <div class="task" *ngFor="let task of taskUnit.tasks">
    <p><strong>Question:</strong> {{task.name}}</p>
    <ul class="answers">
      <li *ngFor="let answer of task.answers"
          [class.correct]="validationMode && isAnswerSolution(answer)"
          [class.incorrect]="validationMode && !isAnswerSolution(answer)">

        <mat-checkbox [disabled]="validationMode" [(ngModel)]="answer.userAnswer">
          <span class="answer-text">{{answer.text}}</span>
        </mat-checkbox>
      </li>
    </ul>
  </div>
</div>

<p>
  <button mat-button [disabled]="validationMode" (click)="validate()">Submit answers</button>
  <button mat-button (click)="reset()">Reset</button>
  <span *ngIf="progress && progress.done" class="progress-done"><mat-icon>check</mat-icon>You have completed this task.</span>
</p>
