<div class="tasks">
  <div class="task" *ngFor="let task of taskUnit.tasks">
    <p><strong>{{'common.question' | translate}}:</strong> {{task.name}}</p>
    <ul class="answers">
      <li *ngFor="let answer of task.answers"
          [class.correct]="validationMode && answer.value"
          [class.incorrect]="validationMode && !answer.value">

        <mat-checkbox [disabled]="validationMode" *ngIf="progress.answers[task._id]" [(ngModel)]="progress.answers[task._id][answer._id]">
          <span class="answer-text">{{answer.text}}</span>
        </mat-checkbox>
      </li>
    </ul>
  </div>
</div>

<p>
  <button mat-raised-button color="primary" [disabled]="validationMode" (click)="validate()">{{ 'unit.text.submitAnswers' | translate }}</button>
  <button mat-raised-button (click)="reset()">{{ 'common.reset' | translate }}</button>
  <span *ngIf="progress && progress.done" class="progress-done">
    <mat-icon>check</mat-icon>{{ 'unit.text.taskCompleted' | translate }}
  </span>
</p>
