<div class="mm-container debug">
  <!-- Left part: Folders -->
  <div class="part part--left" [ngClass]="{'hide': !folderBarVisible}">
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button (click)="toggleFolderBarVisibility()">
          <mat-icon *ngIf="folderBarVisible">close</mat-icon>
          <mat-icon *ngIf="!folderBarVisible">arrow_right</mat-icon>
        </button>
        <span *ngIf="folderBarVisible">Folder</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="folder-wrapper">
      content
    </div>
  </div>

  <!-- Center part: search/files -->
  <div class="part part--center">

    <!-- Fuzzy Search -->
    <div class="area--search">
      <mat-form-field class="fuzzySearch">
        <input matInput placeholder="Search for files" [matAutocomplete]="auto">
      </mat-form-field>

      <mat-autocomplete #auto="matAutocomplete">
        <!--<mat-option *ngFor="let state of filteredStates | async" [value]="state">-->
          <!--{{ state }}-->
        <!--</mat-option>-->
      </mat-autocomplete>
    </div>

    <!-- Files cards -->
    <div class="area--files">

      <!-- Multi-Select button area -->
      <div class="btn__area">
        <button class="text-fit" mat-raised-button matTooltip="">
          <mat-icon>select_all</mat-icon>
        </button>
      </div>

      <!-- File Cards -->
      <div class="file-wrapper">
        <ng-container *ngFor="let file of files">
          <mat-card [ngClass]="isInSelectedCards(file) ? 'active' : 'file'" (click)="toggleSelection(user)">
            <!-- TODO -->
          </mat-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>
