<div class="mm-container">
  <!-- Left part: Folders -->
  <div class="part part--left">
    <!-- TODO -->
    <p>Folders here</p>
  </div>

  <!-- Center part: search/files -->
  <div class="part part--center">

    <!-- Fuzzy Search -->
    <div class="area--search">
      <mat-form-field class="fuzzySearch">
        <input matInput placeholder="Search for files" [matAutocomplete]="auto">
      </mat-form-field>

      <mat-autocomplete #auto="matAutocomplete">
        <!--<mat-option *ngFor="let state of filteredStates | async" [value]="state">-->
          <!--{{ state }}-->
        <!--</mat-option>-->
      </mat-autocomplete>
    </div>

    <!-- Files cards -->
    <div class="area--files">

      <!-- Multi-Select button area -->
      <div class="btn__area">
        <button class="text-fit" mat-raised-button matTooltip="">
          <mat-icon>select_all</mat-icon>
        </button>
      </div>

      <!-- File Cards -->
      <div class="file-wrapper">
        <ng-container *ngFor="let file of files">
          <mat-card [ngClass]="isInSelectedCards(file) ? 'active' : 'file'" (click)="toggleSelection(user)">
            <!-- TODO -->
          </mat-card>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Right part: Detail-->
  <div class="part part--right">
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button (click)="toggleDetailBarVisible()">
          <mat-icon *ngIf="isDetailBarVisible()">close</mat-icon>
          <mat-icon *ngIf="!isDetailBarVisible()">arrow_left</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="mm-detail-wrapper">
      <div class="mm-detail-group">
        <span class="mm-detail-label">Name</span>
        <span class="mm-detail-value">nana</span>
      </div>
      <div class="mm-detail-group">
        <span class="mm-detail-label">Name</span>
        <span class="mm-detail-value">nana</span>
      </div>
    </div>
  </div>
</div>
