$width__left: 15%;
$width__right: 20%;
$width__right--collapsed: 4%;
$width__center: 100% - $width__left - $width__right;
$width__center--ext: 100% - $width__left - $width__right--collapsed;

.mm-container {}

.debug {
  .part {
    &--left {
      background-color: red;
    }
    &--center {
      background: green;
    }
    &--right {
      background: blue;
    }
  }
}

.part {
  margin: 0;
  padding: 0 1ex;
  float: left;

  &--left {
    width: $width__left;
    padding-left: 0;
  }

  &--center {
    width: $width__center;
    transition: width 300ms ease;

    &.hide__right {
      width: $width__center--ext;
    }
  }

  &--right {
    width: $width__right;
    padding-right: 0;
    transition: width 300ms ease;

    &.hide__right {
      width: $width__right--collapsed;

      .mm-detail-wrapper {
        display: none;
      }
    }

    .mat-toolbar-multiple-rows {
      min-height: 50px;

      .mat-toolbar-row {
        height: 50px;
        padding: 0 10px;
      }
    }

    .mm-detail-wrapper {
      padding: 1ex;
    }

    .mm-detail-group {
      display: grid;
      grid-template-columns: 30% 69%;
      grid-gap: 1%;
    }

    .mm-detail-label {
      font-weight: bold;
    }
  }
}
