<div *ngIf="fileUnit.fileUnitType === 'video'">
  <div *ngFor="let file of fileUnit.files;">
    <video src="{{'/api/uploads/' + file.link}}" controls></video>
  </div>
</div>
<div *ngIf="fileUnit.fileUnitType !== 'video'">
  <div>
    <img *ngFor="let image of album; let i=index" [src]="image.src" (click)="openLB(i)" class="lightbox-cstm--preview" matTooltip="Right-click and choose 'Save image as' to download this image">
  </div>
  <ul>
    <ng-container *ngFor="let file of fileUnit.files;">
      <li *ngIf="!isPicture(file.name)">
        <a href="{{'/api/uploads/' + file.link}}" download="{{file.name}}">
          <span>{{file.name}}</span>
        </a>
      </li>
    </ng-container>
  </ul>
</div>
