@import '../../../variables';

.lightbox-cstm--preview {
  max-height: 10rem;
  margin: 0 .5rem;
  cursor: pointer;
  // Bootstrap img-thumbnail class
  padding: .25rem;
  border: 1px solid #ddd;
  border-radius: .25rem;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

//.video {
//  max-width: 100%;
//
//  @include bp(md) {
//    // Style for intermediate viewports
//    max-width: 60%;
//  }
//
//  @include bp(lg) {
//    // Style for big viewports
//    max-width: 50%;
//  }
//}
