<md-tab-group (selectChange)="onTabChange($event)">
  <md-tab label="Write">
    <p class="info-text">
      <md-icon>info</md-icon>
      Add Markdown to add text to this Course.
      A Cheatsheet you can find
      <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">here</a>.
    </p>

    <ace-editor #editor
                [(text)]="this.markdown"
                [mode]="'markdown'"
                [theme]="'github'"
                [autoUpdateContent]="true">
    </ace-editor>
  </md-tab>
  <md-tab label="Preview">
    <app-free-text-unit-core [markdown]="this.markdown"></app-free-text-unit-core>
  </md-tab>
</md-tab-group>
