<mat-tab-group (selectChange)="onTabChange($event)">
  <mat-tab label="Write">
    <p class="info-text">
      <mat-icon>info</mat-icon>
      {{ course.text.addMarkdownToCourse | translate }}
      {{ common.cheatSheetYouFind | translate }}
      <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">{{ common.here | translate }}</a>.
    </p>

    <ace-editor #editor
                [(text)]="this.markdown"
                [mode]="'markdown'"
                [theme]="'github'"
                [autoUpdateContent]="true">
    </ace-editor>
  </mat-tab>
  <mat-tab label="Preview">
    <app-free-text-unit-core [markdown]="this.markdown"></app-free-text-unit-core>
  </mat-tab>
</mat-tab-group>
