<mat-form-field>
  <mat-select placeholder="Sorted by">
    <mat-option value="last visited" (click)="sortCourses()">last visited</mat-option>
    <mat-option value="alphabetically" (click)="sortAlphabetically()">alphabetically</mat-option>    
  </mat-select>
</mat-form-field>
<app-course-container [title]="'dashboard.myCourses' | translate" [courses]="myCourses" [expand]="true" (onLeave)="leaveCallback()" (onEnroll)="enrollCallback()"></app-course-container>
<app-course-container [title]="'Available Courses'" [courses]="availableCourses" [expand]="false" (onEnroll)="enrollCallback()"></app-course-container>
