<mat-form-field class="pull-right">
  <mat-select [placeholder]="'sort.placeholder.sortedBy' | translate ">
    <mat-option value="last visited" (click)="sortCourses()">{{ 'sort.lastVisited' | translate }}</mat-option>
    <mat-option value="alphabetically" (click)="sortAlphabetically()">{{ 'sort.alphabetically' | translate }}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="pull-right">
  <input matInput (keyup)="getInput($event)" placeholder="search course" maxlength="64"/>
</mat-form-field>
<app-course-container [title]="'dashboard.myCourses' | translate" [courses]="myCourses" [expand]="true" (onLeave)="leaveCallback()" (onEnroll)="enrollCallback()"></app-course-container>
<app-course-container [title]="'dashboard.availableCourses' | translate" [courses]="availableCourses" [expand]="false" (onEnroll)="enrollCallback()"></app-course-container>
