<ng-template #innerContent>
  {{title}}
  <button class="toggle" [class.opened] = "opened" mat-icon-button>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
</ng-template>

<div class="clickable" (click)="notify()">
  <h1 *ngIf="headerTag == 'h1'"><ng-container *ngTemplateOutlet="innerContent"></ng-container></h1>
  <h2 *ngIf="headerTag == 'h2'"><ng-container *ngTemplateOutlet="innerContent"></ng-container></h2>
  <h3 *ngIf="headerTag == 'h3'"><ng-container *ngTemplateOutlet="innerContent"></ng-container></h3>
  <h4 *ngIf="headerTag == 'h4'"><ng-container *ngTemplateOutlet="innerContent"></ng-container></h4>
  <h5 *ngIf="headerTag == 'h5'"><ng-container *ngTemplateOutlet="innerContent"></ng-container></h5>
  <h6 *ngIf="headerTag == 'h6'"><ng-container *ngTemplateOutlet="innerContent"></ng-container></h6>
  <span class="bold" *ngIf="headerTag == 'text'"><ng-container *ngTemplateOutlet="innerContent"></ng-container></span>
</div>
