$md-body-font-size-base: 14px !default;

%md-card-section-base {
  display: block;
  margin-bottom: 16px;
}

md-card-title {
  @extend %md-card-section-base;
  font-size: 24px;
  font-weight: 400;
}

md-card-subtitle {
  @extend %md-card-section-base;
  font-size: $md-body-font-size-base;
  color: gray;
}

md-card-content {
  @extend %md-card-section-base;
  font-size: $md-body-font-size-base;
}


.flexDemoContainer {
  box-sizing: content-box !important;
}


.example-card {
  width: 250px;
  //max-width: 300px;
  background-color: #FFFFFF;
  margin-right: 1em;
  margin-bottom: 1em;
  float: left;
}



.add-course-fab {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #ffd740;
}

.clear-both{
  clear: both;
}