<md-card>
    <p>
      Welcome {{this.userService.getCurrentUserName()}}, nice to meet you!
    </p>
</md-card>
<br>
<br>
Available Courses

    <div *ngFor="let course of allCourses">
        <md-card class="example-card">
            <md-card-header>
                <md-card-title>{{course.name}}</md-card-title>
                <!--md-card-subtitle><--md-card-subtitle -->
            </md-card-header>
            <img md-card-image src="/assets/course-header-image.jpg">
            <md-card-content>
                <p>
                    {{course.description}}
                </p>
            </md-card-content>
            <md-card-actions>
                <button md-button (click)="apply(course._id)">Apply</button>
                <button md-button (click)="goToInfo(course._id)">Details</button>
                <button md-button (click)="editCourse(course._id)" *ngIf="this.userService.isTeacher()">Edit</button>

            </md-card-actions>
        </md-card>
    </div>

<div class="clear-both"></div>

<button md-fab *ngIf="this.userService.isTeacher() || this.userService.isAdmin()" class="add-course-fab" (click)="router.navigate(['/course/new']);">
  <md-icon class="md-24">add</md-icon>
</button>



<app-dashboard-student *ngIf="this.userService.isStudent()"></app-dashboard-student>
<app-dashboard-teacher *ngIf="this.userService.isTeacher()"></app-dashboard-teacher>
<app-dashboard-admin *ngIf="this.userService.isAdmin()"></app-dashboard-admin>

