<div class="user-detail-wrapper">
    <h1>{{ 'common.profile' | translate}}</h1>

    <app-user-profile *ngIf="user" [user]="user" [userId]="this.userService.user._id"></app-user-profile>

    <div *ngIf="user && (userService.isLoggedInUser(user) || userService.isAdmin())">
        <div>
          <button mat-raised-button color="primary" routerLink="{{ getEditLink() }}">
            <mat-icon>edit</mat-icon>
          {{ 'common.editProfile' | translate }}
        </button>
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="getUserDetailsExportLink()">
        <mat-icon>edit</mat-icon>
          Download
        {{ 'common.editProfile' | translate }}
        </button>
      </div>
    </div>

    <app-user-report *ngIf="user" [user]="user"></app-user-report>
</div>
