.selectArea {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;

  .buttonArea {
     margin-left: 0.5em;
  }

}

::ng-deep .iconSize {
  font-size:30px !important;
}

.iconFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.btn {
  border: none;
  outline: none;
  //padding: 2px 6px;
  cursor: pointer;
  vertical-align: middle;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
