@import '../../../variables';

:host {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

h1 {
  color: white;
  text-align: center;
  text-shadow: 0 0 5px gray;
  position: absolute;
  bottom: 50%;
}

.logo-font {
  color: map-get($app-accent, 'default');
  margin-right: 0.2em;
}
