// How to use the breakpoints:
// @import '(../)breakpoints';
// div {
//   // the mobile code
//
//   @include bp(md) {
//     // special code for bigger devices
//   }
// }

$bp_width--xs: 330px;   // app-root min-width
$bp_width--sm: 525px;
$bp_width--md: 750px;
$bp_width--bg: 975px;
$bp_width--mg: 1200px;
$bp_width--4k: 2500px;  // app-root max-width

$breakpoints: (
  sm: $bp_width--sm, // Small
  md: $bp_width--md, // Medium
  bg: $bp_width--bg, // Big
  mg: $bp_width--mg, // Mega
  4k: $bp_width--4k, // 4k-Viewports
);

@mixin bp($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}
