// How to use the breakpoints:
// @import '(../)breakpoints';
// div {
//   // Some normal code
//   @include bp--sm {
//     // special code for small devices
//   }
// }

$bp_width--sm: 50em;
$bp_width--md: 75em;
$bp_width--bg: 100em;

@mixin bp--sm {
  @media only screen and (max-width: $bp_width--sm) {
    @content;
  }
}

@mixin bp--md {
  @media only screen and (max-width: $bp_width--md) {
    @content;
  }
}

@mixin bp--bg {
  @media only screen and (max-width: $bp_width--bg) {
    @content;
  }
}
