@import 'breakpoints';

// FONT VARS
$font-body: Roboto, "Helvetica Neue", sans-serif;
$font-header: Raleway, $font-body;
$font-logo: Pacifico, cursive;

// GENERAL VARS
$base-font-size: 1em;
$line-height--base: 1.5;
$line-height--header: 1.25;

// STYLES
body {
  font-family: $font-body;
  font-size: $base-font-size;
  line-height: $line-height--base;

  @include bp(xl) {
    $factor: 1.2;
    font-size: $base-font-size * $factor;
    line-height: $line-height--base * $factor;
  }
  @include bp(max) {
    $factor: 1.4;
    font-size: $base-font-size * $factor;
    line-height: $line-height--base * $factor;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-header;
  line-height: $line-height--header;
  font-weight: 500;
}

.logo-font {
  font-family: $font-logo;
}
