@import '~@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
//defaultTheme
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

//nightTheme
$app-night-primary: mat-palette($mat-indigo);
$app-night-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$app-night-warn: mat-palette($mat-red);

// FONT VARS
$font-body: Roboto, "Helvetica Neue", sans-serif;
$font-header: "Barlow", $font-body;
$font-logo: Pacifico, cursive;

// GENERAL VARS
$base-font-size: 1em;
$line-height--base: 1.5;
$line-height--header: 1.25;
$app-content-padding: 20px;

// BREAKPOINT VARS
// the px values are calculated on a user-agent font-size of 16px
$bp-width--xs: 20em; // 320px => app-root min-width
$bp-width--sm: 32em; // 512px
$bp-width--md: 48em; // 768px
$bp-width--lg: 60em; // 960px
$bp-width--xl: 75em; // 1200px
$bp-width--exl: 87em; // 1392px;
$bp-width--xxl: 121em; // 1936px
$bp-width--max: 160em; // 2560px => app-root max-width


$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);


@import 'styles/mixins';
