@import '~dragula/dist/dragula.css';
@import 'variables';
// Plus imports for other components in your app.

// Custom global geli stuff
@import 'global-hacks';
@import 'breakpoints';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 10px;

  @media only screen and (min-width: $bp_width--md) {
    font-size: 12px;
  }

  @media only screen and (min-width: $bp_width--4k) {
    font-size: 16px;
  }
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  //line-height: 2rem;

  @include bp(4k) {
    background-color: lighten(map-get($app-primary, 'default'), 38.5%);
  }
}

app-root {
  min-width: $bp_width--xs;
  max-width: $bp_width--4k;
  margin: auto;
  background-color: #fff;

  @include bp(4k) {
    box-shadow: 0px 0px 54px 5px rgba(0,0,0,0.75);
  }
}

.logo-font {
  font-family: Pacifico, cursive;
}

.avatar {
  border-radius: 50%;
}

.loading-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: map-get($app-primary, 'default');

  $offset: 187;
  $duration: 1.4s;

  @keyframes rotator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: $offset;
    }
    50% {
      stroke-dashoffset: $offset/4;
      transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: $offset;
      transform: rotate(450deg);
    }
  }

  .loading-spinner-path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke: map-get($app-accent, 'default');

    animation: dash $duration ease-in-out infinite;
  }

  .loading-spinner {
    animation: rotator $duration linear infinite;
  }
}


