@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


body {
    margin: 0px;
}

body{
    background: url('/assets/background-image/yellow_pencils.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.center-both{
    margin: auto;
    text-align: center;
    margin: 0;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
