<mat-card class="info">
  <mat-card-title class="title">Whitelist:
    <button class="open-toggle" (click)="toggle()"
            [class.opened]="isToggled" mat-icon-button>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-subtitle class="subtitle">
    <!--<p class="line">User: {{dragableWhitelistUser.length}} of {{total}}</p>-->
    <p class="line">User: {{dragableWhitelistUser.length}}</p>
  </mat-card-subtitle>
</mat-card>

<app-whitelist-show [show]="isToggled"
                    [dragUsers]="dragableWhitelistUser"
                    [dragulaBagId]="dragulaBagId"
                    [fieldId]="'Whitelist'"
                    [course]="course">
</app-whitelist-show>

<mat-form-field class="full-width">
  <input async matInput id="firstName" placeholder="Last name" [(ngModel)]="whitelistUser.firstName"
         [ngModelOptions]="{standalone: true}" required="">
</mat-form-field>

<mat-form-field class="full-width">
  <input async matInput id="lastName" placeholder="First name" [(ngModel)]="whitelistUser.lastName"
         [ngModelOptions]="{standalone: true}" required="">
</mat-form-field>

<mat-form-field class="full-width">
  <input async matInput id="uid" placeholder="User identification number" [(ngModel)]="whitelistUser.uid"
         [ngModelOptions]="{standalone: true}" required="">
</mat-form-field>

<button class="mat-mini-fab" mat-fab (click)="createNewWhitelistUser()"
        matTooltip="Add whitelist user">
  <mat-icon>add</mat-icon>
</button>
