@import '../../../../../variables';

.chkbox {
  float: right;
}

.spacer {flex: 1 1 auto;}

.lecture {
  margin-left: 1em;
  margin-bottom: -0.5em;

  @media screen and (max-width: $bp-width--sm) {
    margin-left: 0;

    &.mat-list-item .mat-list-item-content {
      padding: 0;
    }
  }
}

.lightgray {
  margin-right: 7em;
  color: #A1A1A1;
  text-align: center;

  @media screen and (max-width: $bp-width--sm) {
    margin-right: 5px;
    text-align: right;
    font-size: 0.75em;
  }
}
