@import '../../../../../variables';

chkbox {
  float: right;
}

.spacer {flex: 1 1 auto;}

.unit {
  margin-left: 3em;
  margin-top: -1em;

  @media screen and (max-width: $bp-width--sm) {
    margin-left: 0.25em;

    &.mat-list-item .mat-list-item-content {
      padding: 0;
    }
  }
}

.icon {
  margin-left: -3em;
  margin-right: 2em;
}
