<mat-list-item class="unit">
  <h4>{{unit.name}}</h4>
  <span class="spacer"></span>
  <span class="lightgray"> {{unitDesc}} </span>
  <mat-checkbox *ngIf="showCheckBox" [(ngModel)]="chkbox" (change)="onChange()" class="chkbox"></mat-checkbox>
 </mat-list-item>
<ng-container *ngIf="files">
  <mat-list>
    <ng-container *ngFor=" let file of this.files">
      <app-upload-unit-checkbox (valueChanged)="onChildEvent($event)" [file]= file [unitDesc]="childUnitDesc"></app-upload-unit-checkbox>
    </ng-container>
  </mat-list>
</ng-container>
