<mat-list-item class="fileUnit">
  <h4 mat-line>{{file.name}}</h4>
  <p mat-line class = "grey"> {{(file.size / (1024*1024)).toFixed(2)}} Mb</p>
  <span class="spacer"></span>
  <span class="lightgray"> {{unitDesc}} </span>
  <mat-checkbox *ngIf="!this.showDL" [(ngModel)]="chkbox" (change)="emitEvent()" class="chkbox"></mat-checkbox>
  <button mat-icon-button color="primary" *ngIf="this.showDL" class="dlButton" (click)="this.downloadFile()" matTooltip="'common.tooltipDownloadUnit' | translate">
     <mat-icon>file_download</mat-icon>
  </button>
</mat-list-item>
