.chkbox {
  float: right;
}

.spacer {flex: 1 1 auto;}

.fileUnit {
  margin-left: 5em;
  margin-top: -1.5em;
}

.dlButton {
  margin-right: -0.75em;
  margin-left: -0.75em;
}

.grey{
  color: #A1A1A1;
}
