@import '../variables';
@import '../breakpoints';

:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.warning {
  background: #b53f3f;
}

.right-align {
  text-align: center;
  flex: 1 1 auto;
}

.between-distance {
  flex: .05;
}

.logo {
  font-family: Pacifico, cursive;
  text-decoration: none;
  color: white;
  font-size: 2.2rem;
  margin-bottom: .2rem;

  &:hover {
    color: map-get($app-accent, 'default');
  }
}

.avatar {
  margin-right: 0.2em;
}

.app-content {
  position: relative;
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.special-style {
  background-image: url('/assets/people-woman-coffee-meeting.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
