<md-toolbar color="primary">
  <a routerLink="/" class="logo">geli</a>

  <span class="right-align"></span>

  <span *ngIf="!isLoggedIn()">
    <button class="login" md-button routerLink="/login" routerLinkActive="active">Login</button>
    <button class="register" md-button *ngIf="!isLoggedIn()" routerLink="/register"
            routerLinkActive="active">Register</button>
    <span class="between-distance" *ngIf="!isLoggedIn()"></span>
  </span>

  <span *ngIf="isLoggedIn()">

  <button md-button routerLink="/profile">
      <img class="avatar" src="{{userService.user.getGravatarURL(30)}}">
      {{ this.userService.user.profile.firstName }}
  </button>

  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <!--<button md-menu-item>-->
    <!--<md-icon>favorite</md-icon>-->
    <!--<span>Favorites</span>-->
    <!--</button>-->
    <button md-menu-item *ngIf="isLoggedIn() && isAdmin()" routerLink="/admin" routerLinkActive="active">
      <md-icon>settings</md-icon>
      <span>Admin</span>
    </button>
    <button md-menu-item *ngIf="isLoggedIn()" (click)="logout()" routerLink="" routerLinkActive="active">
      <md-icon>exit_to_app</md-icon>
      <span>Logout</span>
    </button>
  </md-menu>
</span>
</md-toolbar>

<md-progress-bar *ngIf="showProgressBar" mode="indeterminate"></md-progress-bar>

<div class="{{ 'app-content ' + specialContainerStyle() }}">
  <router-outlet></router-outlet>
</div>
