.right-align {
    flex: 1 1 auto;
}

.between-distance {
    flex: .05;
}

.toolbar {
    background-color: rgba(0,0,0,.1);
}

.toolbar > span > a{
    color: #FFFFFF;
    text-decoration: none;
}

#content{
    margin: 1em;
}

.mat-card {
 transition-timing-function: ease;
}