<md-toolbar class="toolbar">

    <span *ngIf="!isLoggedIn()"><a routerLink="/" routerLinkActive="active">LEARN IT!</a></span>
    <span *ngIf="isLoggedIn()"> <a routerLink="/dashboard" routerLinkActive="active">LEARN IT!</a></span>

    <span class="right-align"></span>

    <span><button class="login" md-button *ngIf="!isLoggedIn()" routerLink="/login" routerLinkActive="active">Login</button></span>

    <span class="between-distance" *ngIf="!isLoggedIn()"></span>

    <span><button class="register" md-button *ngIf="!isLoggedIn()" routerLink="/register" routerLinkActive="active">Register</button></span>

    <span class="between-distance" *ngIf="isLoggedIn()"></span>

    <span><button class="dashboard" md-button *ngIf="isLoggedIn()" routerLink="/dashboard" routerLinkActive="active">Dashboard</button></span>

    <span class="between-distance" *ngIf="isLoggedIn()"></span>

    <span><button class="logout" md-button *ngIf="isLoggedIn()" (click)="logout()" routerLink="" routerLinkActive="active">Logout</button></span>

    <button md-icon-button *ngIf="isLoggedIn()" [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
    </button>

    <md-menu #menu="mdMenu">
        <button md-menu-item>
            <md-icon>account_circle</md-icon>
            <span>Account</span>
        </button>
        <button md-menu-item>
            <md-icon>favorite</md-icon>
            <span>Favoriten</span>
        </button>
        <button md-menu-item>
            <md-icon>settings</md-icon>
            <span>Einstellungen</span>
        </button>
        <button md-menu-item *ngIf="isLoggedIn()" (click)="logout()" routerLink="" routerLinkActive="active">
            <md-icon>exit_to_app</md-icon>
            <span>Logout</span>
        </button>
    </md-menu>

</md-toolbar>
<md-progress-bar *ngIf="showProgressBar" mode="indeterminate"></md-progress-bar>

<div id="content">

    <router-outlet></router-outlet>

</div>