.fuzzySearch {
  margin-top: 50px;
  margin-left: 50px;
  width: 100%;
}

.user-drag-handle, .member-drag-handle {
  cursor: move;
  opacity: 0.2;
  user-select: none;
  margin-right: 0.5em;

  &:hover {
    opacity: 1;
  }
}

.members {
  margin-left: 40px;
}

.profile {
  height: 200px;
  width: 200px;
  float: left;
  margin: 10px;
  border-radius: 8px;
  background: no-repeat 75px 15px;
}

.profile:hover {
  background-color: cornsilk;
}

.active {
  height: 200px;
  width: 200px;
  float: left;
  margin: 10px;
  border-radius: 8px;
  color: #ffffff;
  background: #4490E2;
}

.bg {
  left: 45px;
  width: 160px;
  height: 160px;
  position: absolute;
  background: center;
  border-radius: 80px;
}

.info {
  position: absolute;
  bottom: 10px;
  left: -22px;
}

.userId {
  opacity: 0.5;
}

ul {
  list-style-type: none;
}

button {
  width: 184px;
  margin-left: 10px;
  margin-bottom: 10px;
  color: #4490E2;
}

.del {
  color: #D64C4C;
}

.drop {
  min-height: 40px;
  background-color: #fafafa;
}

.list {
  height: 40px;
  padding-bottom: 10px;
  background-color: #ffffff;
}

.list:hover {
  background-color: #fafafa;
}

.listBg {
  height: 40px;
  width: 40px;
  background: center;
  border-radius: 20px;
  background-size: 40px 40px;
  margin-left: 10px;
}

.firstName {
  padding-left: 30px;
  display: inline-block;
}

.lastName {
  padding-left: 3px;
}

.uid {
  padding-left: 40px;
}

.email {
  padding-left: 40px;
}

.gu-mirror {
  position: fixed !important;
  z-index: 9999 !important;
  opacity: 1;
  list-style-type: none;
  box-shadow: 0 2px 2px rgba(182, 182, 182, 0.5);
  -webkit-align-items: center;
  align-items: center;
  display: inline-block;
  position: relative;
  min-height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border: 1px solid #d8d8d8;
  margin: 0 200px 10px 0;
  background-color: #fff;
  cursor: move;
  border-style: dashed;
  border-width: 1px;
}

.users {
  margin-left: 50px;
}
