.fuzzySearch {
  margin-top: 10px;
  width: 100%;
}

.user-drag-handle, .member-drag-handle {
  cursor: move;
  opacity: 0.2;
  user-select: none;
  margin-right: 0.5em;

  &:hover {
    opacity: 1;
  }
}

.members {
  margin-left: 40px;
}

.profile {
  height: 200px;
  width: 200px;
  float: left;
  margin: 10px;
  border-radius: 8px;
  background: no-repeat 75px 15px;
}

.profile:hover {
  background-color: cornsilk;
}

.active {
  height: 200px;
  width: 200px;
  float: left;
  margin: 10px;
  border-radius: 8px;
  color: #ffffff;
  background: #4490E2;
}

.bg {
  left: 45px;
  width: 160px;
  height: 160px;
  position: absolute;
  background: center;
  border-radius: 80px;
}

.info {
  position: absolute;
  bottom: 10px;
  left: -22px;
}

.userId {
  opacity: 0.5;
}

ul {
  list-style-type: none;
}

button {
  width: 184px;
  margin-left: 10px;
  margin-bottom: 10px;
  color: #4490E2;
}

.del {
  color: #D64C4C;
}

.drop {
  min-height: 40px;
  background-color: #fafafa;
}

.list {
  padding-bottom: 10px;
  background-color: #ffffff;

  .listBg {
    height: 40px;
    width: 40px;
    background: center;
    border-radius: 20px;
    background-size: 40px 40px;
    margin-left: 10px;
  }

  .firstName {
    padding-left: 5%;
    display: inline-block;
    flex: 1;
  }

  .lastName {
    flex: 1;
  }

  .uid {
    flex: 1;
  }

  .email {
    flex: 1;
  }
}

.gu-mirror {
  z-index: 9999 !important;
  opacity: 1;
  box-shadow: 0 2px 2px rgba(182, 182, 182, 0.5);
  display: inline-block;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  cursor: move;
  border-style: dashed;
  border-width: 1px;

  .user-drag-handle, .member-drag-handle {
    padding-top: 15px;
    padding-left: 15px;
    width: 60px;
  }

  .firstName {
    padding-left: 5%;
    display: inline-block;
  }
}
